 <div class="ceomer_com ceomer_com_2c">
            <foreach name='arr' item='k'>
            <h1 class="da_con_ce">订单编号：{$k.ddh}<!--<span class="shifu_qx">取消订单</span>--></h1>
            <div class="rnmbur rnmbur_c">
                <ul>
                    <li>
                         金额：<span class="chuangmbr">
                                 {$k.cpk_price}元  
                              </span>
                    </li>
                    <li>
                         <span class="chuangmbr">
                                 {$k.cpk_name}
                              </span>
                    </li>
                    <li>
                       <span class="chuangmbr">
                                 {$k.time}
                              </span>
                    </li>
                    
                </ul>
            </div>
        </foreach>
        </div>
    
    
	</div>
    
    
    
    </div>