<div class="Maskc_box" style=" padding:0; height:100%;">
    <div class="lili_c_ico"><p></p><span></span></div>
            <ul class="">
                <foreach  name='arr2' item='h'>
                    <li class="my_bu_x">
                    <div class="funb_r" data="{$h.cpk_id}" onclick='tjgwc(this,{$h.cpk_id})'>
                        <span class="nudt_1_r nudt_1_rcc">{$h.cpk_price}</span><i>元</i>
                        <a class="jiadd" href='javascript:void(0)' ></a>
                    </div>
                    <div class="nudt_2 nudt_2cunb"><span class="nudt_1_l mobbuet">{$h.cpk_name}</span></div>
                    
                    </li>
                </foreach>
            </ul>
</div>



