<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<a href="__CONTROLLER__/jixiu/ways_id/3 ">返回</a><!-- -->
	<table border=1>
<th>订单号：</th>
<th>维修内容：</th>
<th>预计价格：</th>
<th>备注：</th>
<th>服务方式:</th>
<th>维修地点：</th>
<th>姓名：</th>
<th>电话:</th>
<th>地址:</th>
<th>维修人员</th>

<foreach name='arr' item='vv'>
<tr>
	<td>{$vv.u_number}</td>
	<td>{$vv.content}</td>
	<td>{$vv.amountd}</td>
	<td>{$vv.u_note}</td>
	<td>{$vv.ways_name}</td>
	<td>{$vv.wxzx_name}</td>
	<td>{$vv.u_name}</td>
	<td>{$vv.u_phone}</td>
	<td>{$vv.u_address}</td>
	<td>{$vv.user_id}</td>

</tr>
</foreach>
</table>	
</body>
</html>