<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<a href="__CONTROLLER__/{$b}/ways_id/{$ways_id}/stau/{$arr.stau}">返回</a>
	订单号：{$arr.u_number} <br /><br />
	机型：{$arr.model_name} <br /><br />
	颜色：{$arr.color_name} <br /><br />
	问题：<foreach name='question' item='kk'>
				{$kk.question_name},
		  </foreach> <br /><br />
	解决方案：<foreach name='plan' item='k'>
				{$k.plan_name},
		  </foreach> <br /><br />
    预计价格：{$arr.amountd} <br /><br />
	已优惠：{$arr.amountt} <br /><br />
	备注：{$arr.u_note} <br /><br />
	保修期{}<br /><br />
	预估价格:{$arr.amounttt}<br /><br />
	最终价格:{$arr.amount}<br /><br />
	修前检测：<foreach name='arr8' item='kk'>
					{$kk.jc_name}
			</foreach><br /><br />
	产品添加：<foreach name='arr10' item='k'>
				{$k.cpk_name}
			</foreach><br /><br />
	修后检测：<foreach name='arr9' item='v'>
				{$kk.jc_name}
			</foreach> <br /><br />
	服务方式:{$arr.ways_name}<br /><br />
	维修地点：{$arr.wxzx_name}<br /><br />
	服务人员：{$arr.user_username}<br /><br />
	下单时间：{$arr1.xo_time}<br /><br />
	姓名：{$arr.u_name}<br /><br />
	电话:{$arr.u_phone}<br /><br />
	地址:{$arr.u_address}<br /><br />
	
	<a href="__CONTROLLER__/quxiaodedingdan/id/{$vv.id}/">取消</a>
</body>
</html>