/*html{font-size:1.875vw;}*/
body{ background:#f1f1f1;}
.header{}
.logo{ height:40px;  background:#efefef url(../img/logo_1.png) center  center no-repeat; background-size: 100px;}

.dr_tit{ height:100px; font-size:16px; background:#fff;}
.dr_tit>div{ width:50%; text-align:center; height:100%;}
.dr_tit>div>a{ display:block; height:100%;  line-height:100px; border-right:1px solid #ccc; color:#2aa6fb; border-bottom:1px solid #ccc; }
.dr_tit>div:last-child>a{ border-right: none;}
.dr_tit>div>a>img{  vertical-align:middle;}
.dr_tit>div>a>p{ display:inline-block; }
.dr_tit>div.dr_tit_l{}
.dr_tit>div.dr_tit_r{}

.dr_tit_2{ background:#fff; margin-bottom:10px;}
.dr_tit_2>ul{ height:90px;}
.dr_tit_2>ul>li{ float:left; width:25%; text-align:center; height:90px;}
.dr_tit_2>ul>li>a{ display:block;  border-right:1px solid #ccc; border-bottom:1px solid #ccc; height:90px;}
.dr_tit_2>ul>li>a>img{ width:43px; height:43px; margin-top:13px;}
.dr_tit_2>ul>li>a>p{ font-size:14px; color:#333;}
.dr_tit_2>ul>li:last-child>a{ border-right:none;}
/*.dr_tit_2>ul>li:last-child>a>p{ display:inline-block;}*/

.xgg{}
.xgg>img{ width:100%; max-height:70px;}

/*css3三角*/
/*.addr_ass1 {
    float: right;
    margin: 18px 12px 0 0;
    width: 10px;
    height: 10px;
    border: 1px solid #bbb;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    position: absolute;
    right: 12px;
	top:24px;
}*/
/*.addr_ass2 {
    float: right;
    margin: 18px 12px 0 0;
    width: 10px;
    height: 10px;
    border: 1px solid #bbb;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    position: absolute;
    right: 12px;
	top:24px;
}*/








.main_visual{ overflow:hidden;position:relative; width: 100%; margin-bottom:0.07rem;}
.main_image{overflow:hidden; width: 100%;}
.main_image ul{width:9999px;overflow:hidden;position:absolute;top:0;left:0;  width: 100%;}
.main_image li{float:left;width:100%;  width: 100%;}
.main_image li span{display:block;width:100%;height:1.32rem;  width: 100%;}
.main_image li a{display:block;width:100%;  width: 100%;}
.main_image li a img{ width:100%; height:100%;}
.main_image li .img_1{ background:url(../img/banner/banner_a_1.png) center top no-repeat; background-size: 100% 100%;}
.main_image li .img_2{background:url(../img/banner/banner_a_2.png) center top no-repeat; background-size: 100% 100%;}
.main_image li .img_3{background:url(../img/banner/banner_a_3.png) center top no-repeat; background-size: 100% 100%;}
.main_image li .img_4{background:url(../img/banner/8.png) center top no-repeat; background-size: 100% 100%;}
.main_image li .img_5{background:url(../img/banner/9.png) center top no-repeat; background-size: 100% 100%;}
div.flicking_con{position:absolute; bottom:10px; left:50%;z-index:8;width:100px;height:10px; line-height:10px; margin-left:-50px; text-align:center; }
div.flicking_con a{width:18px;height:4px; display: inline-block; border:1px solid #fff; border-radius:25px; margin:0 2px;  opacity:.8; vertical-align:middle;}
div.flicking_con a.on{ background:#fff; opacity:1}
#btn_prev,#btn_next{z-index:11;position:absolute;display:block;width:20px!important;height:20px!important;top:50%;margin-top:-10px;display:none; }
#btn_prev{/*background:url(../images/banner/hover_left.png) no-repeat left top;left:2%; background-size: 100%;*/}
#btn_next{/*background:url(../images/banner/hover_right.png) no-repeat right top;right:2%; background-size: 100%;*/}


.main_imagell_box{ position:relative; height:125px; overflow:hidden;}
.main_imagell{overflow:hidden; width: 100%;}
.main_imagell ul{ overflow:hidden;}
.main_imagell li{width: 100%;}


/*导航固定*/
.nav_gd{ height:48px; background:#f7f9fc; background-size:100% 100%; position:fixed; bottom:0; width:100%; z-index:2111;
   /* box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
	-webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
	-moz-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);*/
}

.nav_gd:before {
    position: absolute;
    top: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e1e3e5;
    -webkit-transform: scaleY(0.5);
}

.nav_gd ul{ height:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.nav_gd ul li span{ width:40px; height:28px; display:inline-block; background:url(../img/icon_a.png) -120px -196px no-repeat; background-size:640px;}
.nav_gd ul li span.nav_1{ background-position: -120px -196px}
.nav_gd ul li span.nav_1.on{background-position: -120px -168px}
.nav_gd ul li span.nav_2{ background-position: -160px -166px}
.nav_gd ul li span.nav_2.on{ background-position: -160px -196px}
.nav_gd ul li span.nav_3{ background-position: -196px -164px}
.nav_gd ul li span.nav_3.on{ background-position: -196px -194px}
.nav_gd ul li{  text-align:center; display:block; height:100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.nav_gd ul li a{ display:block;}
.nav_gd ul li>div{ display:block;}
.nav_gd ul li a p{ font-size:12px; color:#aaa !important; margin-top:-3px;}
.nav_gd ul li div.on p{ color:#b2b2b2; margin-top:-3px; font-size:12px;}/*#2d5ab8*/
.nav_gd ul li a.on p.on{ color:#2d5ab8 !important; margin-top:-3px;}
.nav_gd ul li a>img{ width:28px; height:28px; margin-top:2px;}
.nav_gd ul li a>em{ width:28px; height:28px; margin-top:2px; background-repeat:no-repeat; background-image:url(../img/images/new_ico.png); display:inline-block; background-size:375px;}
.nav_gd ul li a>em.ico_list1{ background-position:-12px -105px; }
.nav_gd ul li a>em.ico_list1.on{ background-position:-45px -105px; }
.nav_gd ul li a>em.ico_list2{ background-position:-12px -139px; }
.nav_gd ul li a>em.ico_list2.on{ background-position:-45px -139px; }
.nav_gd ul li a>em.ico_list3{ background-position:-12px -175px; }
.nav_gd ul li a>em.ico_list3.on{ background-position:-45px -175px; }
.nav_gd ul li a>em.ico_list4{ background-position:-12px -205px;}
.nav_gd ul li a>em.ico_list4.on{ background-position:-45px -205px; }
.nav_gd ul li>div>b.shuow_weiz{  width:28px; height:28px; margin-top:2px; display:inline-block; background:#fff;}

/*保证*/
.baozhen{ padding:0 12px 20px; margin-bottom:10px; background:#fff;}
.baozhen_mmn{ padding:0 12px; margin: 0 0 -3px 0; background:#fff;}
.baozhen_mmnll{ border-bottom:4px solid #e5e5e5;
}
.baozhen h1{ height:25px; line-height:25px; text-align:center; font-size:14px; font-weight:normal; position:relative;}
.baozhen h1 p{ width:70px; position:absolute; left:0; bottom:0; right:0; top:0; margin:auto; background:#eee; z-index:141; color:#999;}
.baozhen h1:after{ content: ""; width:45%; height:1px; background:#aaa; position:absolute; left:0; bottom:0; right:0; top:0; margin:auto; z-index:140;}

h2.llopmmkl{ height:24px; padding:16px 0 10px 0; line-height:24px; font-size:14px; font-weight:normal; color:#808080; vertical-align:middle;}
h2.llopmmkl:before{ content: ""; height:100%; width:4px; display: inline-block; background:#3e7edb; vertical-align:middle;}
h2.llopmmkl em{ font-style:normal; margin-left:6px;}

h2.llopmmkl.llopmmkl2:before{ background:#ff7e00;}
h2.llopmmkl.llopmmkl3:before{ background:#bcd3f8;}

.baozhen ul{}
.baozhen ul li{ float:left; width:33.333%; text-align:center; padding:15px 0 25px 0;}
.baozhen ul li span{ background:url(../img/icon_a.png) -130px -135px no-repeat;  background-size:640px;  width:28px; height:28px; display:inline-block;}
.baozhen ul li span.ws_1{ background-position: -130px -135px;}
.baozhen ul li p{ font-size:14px; color:#333;}
.baozhen ul li span.ws_2{ background-position: -169px -135px;}
.baozhen ul li span.ws_3{ background-position: -203px -135px;}


/*内容*/
.content{ padding-bottom:48px;}
.more_1{ width:100%; height:100%; line-height:90px;}

/*头部搜索*/
.search{ position:fixed; top:0px; left:0px; z-index:12311; height:32px; width:100%;}
.search_con{ padding:6px 0px; /*background-image:linear-gradient(to top , #33aafe, #028cee);*/      height:100%; position:absolute; top:0px; left:0px; width:100%; z-index:149;}
.search_con_box{ padding:0 12px;}
.search_con_bb{ height:100%; background: -webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background: linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0)); position:absolute; top:0px; left:0px; z-index:148 ; width:100%; padding:6px 0;}
.search_con_cc{ height:100%;  position:absolute; top:0px; left:0px; z-index:147 ; width:100%; padding:6px 0;}
.search_l{ width:86%; position:relative;}
.search_l>input{ width:100%; height:100%; height:32px; line-height:32px; border-radius:4px; text-indent:11px; font-size:14px;}
.search_l:after{ content: ""; width:19px; height:19px; background:url(../img/images/sous_1_03.png) center center no-repeat; background-size:100%; position:absolute; right:6px; top:6px; }

.search_r{ width:14%; text-align:center;}

.search_r>span{ width:17px; height:20px; background: url(../img/images/fast-repair.png) center center no-repeat; background-size:100%; display:inline-block;}
.search_r>p{ font-size:10px !important; color:#fff; margin-top:0px;}

/*内容*/
.content1{ padding-bottom:50px;}
.project_boc{ height:92px; background-image:linear-gradient(to top left,#588aff,#4385fb); border-radius: 4px; margin-bottom:9px;  }
.project_boc_1{ margin-bottom:0px;}
.project_boc_let{ padding:0 19px; display:block; line-height:92px; position:relative;}
.project_boc_let>img{ width:58px; vertical-align:middle; margin-right:30px;}
.project_boc_spal{ display:inline-block; vertical-align:middle;}
.project_boc_spal>strong{ font-size:16px; display:block; line-height:22px; color:#fff; font-weight: normal;}
.project_boc_spal>em{ font-size:12px; display:block; font-style:normal; line-height:22px; color:#fff;}
.project_boc_spal>em:after{ content: "..."; margin-left:4px; }

/*服务介绍*/
.Service{ white-space:100%; margin-bottom:7px;}
.Service>ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	width:100%;
}
.Service>ul>li{ background:#f5f5f5; height:48px; line-height:48px; line-height:48px;  padding:0; margin-right:6px; border-radius: 4px; 
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.Service>ul>li a:before{

	content: '';
    border-radius: 4px;
	position: absolute; left:0px;
	width: 200%;

	height: 200%;

	border: 1px solid #e9e9e9;

	-webkit-transform-origin: 0 0;

	-moz-transform-origin: 0 0;

	-ms-transform-origin: 0 0;

	-o-transform-origin: 0 0;

	transform-origin: 0 0;

	-webkit-transform: scale(0.5, 0.5);

	-ms-transform: scale(0.5, 0.5);

	-o-transform: scale(0.5, 0.5);

	transform: scale(0.5, 0.5);

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

.Service>ul>li:last-child{ margin:0;}
.Service>ul>li>a{ display:block; color:#4d4d4d; font-size:14px; position:relative;}
.quanzo{ background:#fff;  padding:0.2rem 0px;  margin-bottom:10px;}
.quanzobbuy{ margin-bottom:20px;}
.quanzo_lest{ padding:0 10px;}
.quanzo_lest>h1{ height:36px; background:url(../img/images/logo_22_07.png) center center no-repeat; background-size:94px; border-bottom:1px #d4d4d4 dashed;}
.quanzo_lest>ul{ /*margin-top:11px;*/
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	width:100%;}
.quanzo_lest>ul>li{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.quanzo_lest>ul>li>a{ display:block; text-align:center;}
.quanzo_lest>ul>li>a>img{ width:20px; height:20px; vertical-align: middle;}
.quanzo_lest>ul>li>a>span{ font-size:14px; color:#333; vertical-align:middle; margin-left:0.03rem;}
.baozhen1{ padding:0 12px; background:#fff; margin-bottom:10px;}
.Help{ padding:0px 0 10px 0;}
.Help>ul{ padding-top:5px;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	width:100%;
}
.Help>ul>li{ height:75px; background:#fff; margin-right:6px; border-radius: 4px;  
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.Help>ul>li a:before{

	content: '';
    border-radius: 4px;
	position: absolute; left:0px;
	width: 200%;

	height: 200%;

	border: 1px solid #e9e9e9;

	-webkit-transform-origin: 0 0;

	-moz-transform-origin: 0 0;

	-ms-transform-origin: 0 0;

	-o-transform-origin: 0 0;

	transform-origin: 0 0;

	-webkit-transform: scale(0.5, 0.5);

	-ms-transform: scale(0.5, 0.5);

	-o-transform: scale(0.5, 0.5);

	transform: scale(0.5, 0.5);

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}


.Help>ul>li:last-child{ margin:0;}
.Help>ul>li>a{ display:block; height:75px; line-height:75px; position:relative;}
.Help>ul>li>a>img{ width:45px; height:50px; vertical-align:middle; margin:0 0 0 12px;}
.Help>ul>li>a>span{ display:inline-block; vertical-align:middle; width:50%;}
.Help>ul>li>a>span>strong{ display:block; line-height:18px; font-size:14px; font-weight:400; color:#4c4c4c;}
.Help>ul>li>a>span>b{ display:block; line-height:12px; font-size:10px; font-weight:normal; color:#999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.quanzo1{ height:auto;}
bom_nav{}
.bom_nav>ul{
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	width:100%;
	}
.bom_nav>ul>li{ text-align:center; height:44px; line-height:44px; position:relative;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.bom_nav>ul>li:after{ content: ""; width:1px; height:10px; background:#d5d5d5; position:absolute; top:50%; margin-top:-5px; right:0;}
.bom_nav>ul>li:last-child:after{ background:none;}
.bom_nav>ul>li>a{ font-size:13px; color:#4c4c4c; display:block;}

/*@media only screen and (max-width: 585px)*/
@media only screen
and (min-width : 320px)
and (max-width : 568px){

.quanzo_lest>ul>li>a>span{ font-size:12px; }
}


.nav_gd ul li>div.poppl{ position: relative; }
.nav_gd ul li>div.poppl .zhong_anniu{ z-index:1355; position:absolute; left:50%; top:50%; margin-left:-26px; margin-top:-50px; width:52px; height:52px; background:#fff url(../img/images/logo.png) center center no-repeat; background-size: 70%; border-radius:50%;}
.nav_gd ul li>div.poppl .zhong_anniu1{ z-index:1351; position:absolute; left:50%; top:50%; margin-left:-26px; margin-top:-50px; width:52px; height:52px; background:none; background-size: 70%; border-radius:50%;
    box-shadow: 0px -2px 1px 0px rgba(155,143,143,0.6);
    -webkit-box-shadow: 0px -2px 1px 0px rgba(155,143,143,0.6);
    -moz-box-shadow: 0px -2px 0px 0px rgba(155,143,143,0.6);
}


.nav_gd ul li>div.poppl>a{border-radius:50%; width:16px; height:16px; position:absolute; top:50%; left:50%; margin-left:-8px; margin-top:-8px; display:none;

}


.nav_gd ul li>div.ccp a.gundong{  border-radius:50%; width:35px; height:35px; position:absolute; top:50%; left:50%; margin-left:-18px; margin-top:-18px; background: url(../img/images/phone.png) center center no-repeat; background-size: 100%; display:block;
animation:move 0.5s ease-out 1 forwards;
-webkit-animation:move 0.5s ease-out 1 forwards;
-moz-animation:move 0.5s ease-out 1 forwards;
-ms-animation:move 0.5s ease-out 1 forwards;
-o-animation:move 0.5s ease-out 1 forwards;


}
@keyframes move {
  from{
    transform: translate(0) scale(0.1) rotate(0deg);
  }
  
  to{
    transform: translate(-40px,-70px) scale(1) rotate(1440deg);
  }
}
@-webkit-keyframes move{  
  from{
    -webkit-transform: translate(0) scale(0.1) rotate(0deg);
  }
  
  to{
    -webkit-transform: translate(-40px,-70px) scale(1) rotate(1440deg);
  }
}
@-moz-keyframes move{
  from{
    -moz-transform: translate(0) scale(0.1) rotate(0deg);
  }
  
  to{
    -moz-transform: translate(-40px,-70px) scale(1) rotate(1440deg);
  }
}

.nav_gd ul li>div.ccppp a.gundong{  border-radius:50%; width:35px; height:35px; position:absolute; top:50%; left:50%; margin-left:-18px; margin-top:-18px; background: url(../img/images/phone.png) center center no-repeat; background-size: 100%; display:block;
animation:moverrcc 0.5s 1 ease-in-out forwards ;
-webkit-animation:moverrcc 0.5s 1 ease-in-out forwards;
-moz-animation:moverrcc 0.5s 1 ease-in-out forwards;
-ms-animation:moverrcc 0.5s 1 ease-in-out forwards;
-o-animation:moverrcc 0.5s 1 ease-in-out forwards;

}
@keyframes moverrcc{
  from{
	transform: translate(-40px,-70px) scale(1) rotate(1440deg);
  }
  
  to{
    transform: translate(0) scale(0.1) rotate(0deg);
  }
}
@-webkit-keyframes moverrcc{
  from{
	-webkit-transform: translate(-40px,-70px) scale(1) rotate(1440deg);
  }
  
  to{
    transform: translate(0) scale(0.1) rotate(0deg);
  }
}
@-moz-keyframes moverrcc{
  from{
	-moz-transform: translate(-40px,-70px) scale(1) rotate(1440deg);
  }
  
  to{
    -moz-transform: translate(0) scale(0.1) rotate(0deg);
  }
}


.nav_gd ul li>div.ccp a.gundong1{  border-radius:50%; width:35px; height:35px; position:absolute; top:50%; left:50%; margin-left:-18px; margin-top:-18px; background: url(../img/images/chat.png) center center no-repeat; background-size: 100%; display:block;
animation:move1 0.5s 1 ease-in-out forwards ;
-webkit-animation:move1 0.5s 1 ease-in-out forwards;
-moz-animation:move1 0.5s 1 ease-in-out forwards;
-ms-animation:move1 0.5s 1 ease-in-out forwards;
-o-animation:move1 0.5s 1 ease-in-out forwards;

}
@keyframes move1 {
  from{
    transform: translate(0) scale(0.1) rotate(0deg);
  }
  
  to{
    transform: translate(40px,-70px) scale(1) rotate(1440deg);
  }
}
@-webkit-keyframes move1{  
  from{
    -webkit-transform: translate(0) scale(0.1) rotate(0deg);
  }
  
  to{
    -webkit-transform: translate(40px,-70px) scale(1) rotate(1440deg);
  }
}
@-moz-keyframes move1{
  from{
    -moz-transform: translate(0) scale(0.1) rotate(0deg);
  }
  
  to{
    -moz-transform: translate(40px,-70px) scale(1) rotate(1440deg);
  }
}


.nav_gd ul li>div.ccppp a.gundong1{border-radius:50%; width:35px; height:35px; position:absolute; top:50%; left:50%; margin-left:-18px; margin-top:-18px; background: url(../img/images/chat.png) center center no-repeat; background-size: 100%; display:block;
animation:moverr 0.5s 1 ease-in-out forwards ;
-webkit-animation:moverr 0.5s 1 ease-in-out forwards;
-moz-animation:moverr 0.5s 1 ease-in-out forwards;
-ms-animation:moverr 0.5s 1 ease-in-out forwards;
-o-animation:moverr 0.5s 1 ease-in-out forwards;
}
@keyframes moverr{
  from{
	transform: translate(40px,-70px) scale(1) rotate(0deg);
  }
  
  to{
    transform: translate(0) scale(0.1) rotate(1440deg);
  }
}
@-webkit-keyframes moverr{
  from{
	-webkit-transform: translate(40px,-70px) scale(1) rotate(0deg);
  }
  
  to{
    transform: translate(0) scale(0.1) rotate(1440deg);
  }
}
@-moz-keyframes moverr{
  from{
	-moz-transform: translate(40px,-70px) scale(1) rotate(0deg);
  }
  
  to{
    -moz-transform: translate(0) scale(0.1) rotate(1440deg);
  }
}

/*公共1:1*/
.pubcvt{ width:100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.pubcvt_v{ 
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}





/*.nav-menu > li:last-child ;     clearfix     
.tips::-webkit-input-placeholder{color:red;}
.tips:-moz-placeholder{color:red}
.tips::-moz-placeholder{color:red;}
.tips:-ms-input-placeholder{color:red;}



border-radius: 10px;

flex使用方式
.wx_tab{ height:90px;  display: -webkit-box; display: -webkit-flex; display: flex; text-align: center; background:#f7f7f7;}
.wx_tab a{-webkit-box-flex: 1; -webkit-flex: 1; flex: 1; display:block;    line-height:90px; color:#666; position:relative;}



.nav-menu > li:last-child ; 
#tt div.row_dr:last-child{ border:none;}
#tt div.row_dr:first-child
.grdzx>ul>li:first-child:before
  
clearfix 
background-size: 80%; 
:after{ content: "";  
:before{ content: "";        
input[type="checkbox"]
console.log(start_y);
parent()父
hide
show
background-image:linear-gradient(to top , #33aafe, #028cee);

<input type="text" name="htmer" autocomplete="off" /> 
tel:18231321037
opacity: 0;






















 */













