<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	 <style>
	body{font-size:14px;font-family:'microsoft yahei';background:#FAFAFA}
	.r{font-size:30px;color:back;}
	h2{text-align:center;font-size:16px;}
	.form{width:360px;margin:200px auto;background:#FFF;border:1px solid #EAEAEA;padding:10px 20px;}
	.form .row{margin:10px 0;}
	.form .row label{margin-right:10px;}
	.txt,.textarea{padding:4px;border:1px solid #EAEAEA;width:300px;border-radius:2px;}
	.textarea{height:200px;}
	.vtop{vertical-align:top;}
	
	.bt-save{padding:10px 30px;background-color:#F60;cursor:pointer;border-radius:4px;border:none;color:#FFF;margin-left:40px;}
	.bt-save:hover{background-color:#E4620B;}
</style> 
</head>
<body> 
<center><a href='javascript:void(0)'onclick='ways3(3)'>{$ways3}</a>&nbsp;&nbsp;&nbsp;
		<a href='javascript:void(0)'onclick='ways2(2)'>{$ways2}</a>&nbsp;&nbsp;&nbsp;
		<a href='javascript:void(0)'onclick='ways1(1)'>{$ways1}</a>
		
			<div id="wrap">
	<form action="__CONTROLLER__/addorder/" method="post">
		<div class="form">
			<h2>工单测试DEMO</h2>
			<div class="row">
				<label>手机:</label>
				<span>{$username}</span>
			</div>
			<div class="row">
				<label>名字:</label>
				<span><input type="text" class="txt" name="uname" value='{$user_username}'/></span>
			</div>
			
			<div class="row">
				<label class="vtop">购买的产品配件:</label>
			<foreach name='arr6' item='vv'>
				{$vv.cpk_name}&nbsp;&nbsp;&nbsp;{$vv.gw_pricee}&nbsp;&nbsp;&nbsp;*{$vv.nums}&nbsp;&nbsp;{$vv.gw_price} <br /><br />
			</foreach>
			</div>
			<div class="row">
				<label class="vtop">备注:</label>
				<span><textarea class="textarea" name="u_note" id="u_note"></textarea></span>
			</div>
			<div class="row">
				<label>总价格:</label>
				<span>{$price}元</span>
			</div>
			  <div class="row" id='ff'>
					<span style=''id='f'>
					<select name="sheng" id='sheng' onchange='ajaxsheng()'>
						<option value="省">
							省
						</option>
						<foreach name='arr4' item='vv' >
							<option value="{$vv.region_id}">
								{$vv.region_name}
							</option>
						</foreach>
					</select>
				</span>
			
			
		
				<span id='s'>
					
				</span>
				<span id='ss'>
					
				</span><br />
				<label>详细地址:</label>
				<span><input type="text" class="txt" name="address" id="address"/></span>
				<span style=''id='f'>
					<select name="jxzx_id" id='jxzx_id'>
						<foreach name='arr5' item='gf'>
							<option value="{$gf.jxzx_id}">
								{$gf.jxzx_name}
						</foreach>
					</select>
				</span>
				<input type="hidden" name="ways_id" id='ways_id' value='3'>
				</div>
			<div class="row bts">
				<label></label>
				<button type="submit" name="submit" class="bt-save">提交</button>
			</div>
		</div>
		</form>
	</div>
</center>
	
</body>
</html>
<script type="text/javascript">
function ways3(ways_id){
		//alert(ways_id);
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/youji/id/"+ways_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('ff').innerHTML=ajax.responseText
				}
}
	}
	function ways2(ways_id){
		//alert(ways_id);
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/daodian/id/"+ways_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('ff').innerHTML=ajax.responseText
				}
}
	}
	function ways1(ways_id){
		//alert(ways_id);
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/shangmen/id/"+ways_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('ff').innerHTML=ajax.responseText
				}
}
	}
function ajaxsheng(){
	document.getElementById('ss').style.display='none';
		var sheng=document.getElementById('sheng').value;
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/shi/id/"+sheng,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('s').innerHTML=ajax.responseText
				}
			}
	}
	function ajaxshi(){
		document.getElementById('ss').style.display='block';
		var shi=document.getElementById('shi').value;
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/qu/id/"+shi,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('ss').innerHTML=ajax.responseText
				}
			}
	}


</script>