<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/style/public.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/style/admin_index.css">
	<script src="__PUBLIC__/new/script/jquery-1.7.1.min.js" type="text/javascript"></script>
	<style type="text/css">
		body{
			background:#fff url(__PUBLIC__/new/image/sj_admin/people.png) 0 0 no-repeat;
			/* background-size: cover; */
		}
	</style>
</head>
<body>
</body>
</html>