<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="baidu-site-verification" content="rGv5pHv3KH" />
<title>手机维修 | 苹果/安卓手机维修 | 数码维修 | 电脑维修</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/pc_style.css" rel="stylesheet" type="text/css">

<style>
</style>

<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>

<!-- Start of KF5 supportbox script -->
<script type="text/javascript">


  document.write('<script src="\/\/assets.kf5.com\/supportbox\/main.js?' + (new Date).getDay() + '" id="kf5-provide-supportBox" kf5-domain="weibaishi.kf5.com" charset="utf-8"><\/script>');
</script>

<!-- End of KF5 supportbox script -->


<script type="text/javascript">
var sid = location.search.slice(1);

if(sid=='id'){
    
}else{
	if(/AppleWebKit.*mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
		if(window.location.href.indexOf("?mobile")<0){
			try{
				if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){
					window.location.href="http://m.weibaishi.com";
				}else if(/iPad/i.test(navigator.userAgent)){
					window.location.href="http://m.weibaishi.com";
				}else{
					window.location.href="http://m.weibaishi.com"
				}
			}catch(e){}
		}
	}
}
</script>
</head>

<body>
<!--头部-->
<div class="pc-head">
    <div class="guide_pc clearfix">
        <div class="logo fl">
            <a title="唯心诚者，百事可做" href="http://www.weibaishi.com/"></a>
        </div>
        <div class="pc_nav fl">
            <ul class="clearfix">
                <li class="nav_linn " id="baoxiu">
                    <a href="javascript:;">预约报修</a>
                </li>
                <li class="nav_linn" id="cxgl">
                    <a href="javascript:void(0)">快速报修</a>
                </li>
                <li class="nav_linn" id="bzzx">
                    <a href="javascript:void(0)">价目查询</a>
                </li>
                <li class="nav_linn" id="clmrte">
                    <a href="http://help.weibaishi.com/hc/">拆修攻略</a>
                </li>
            </ul>
        </div>
        <div class="pc_cbnert fr">
            <a id="cxyzf" href="javascript:void(0)">查询与支付</a>
        </div>
    </div>
</div>
<!--banner-->
<div class="pc-banner">

</div>
<!--pc_content -->
<div class="pc_content" id="dlm">
    <div class="guide_pc">
        <div class="content_left">
            <h1 class="gor_h1">放心维修  交给维百士</h1>
            <h2 class="gor_h2">动动手指  手机即刻复活</h2>
            <ul class="gor_ul1">
                <li><b class="icoen_1" ><span></span>高效率</b></li>
                <li><b class="icoen_2" ><span></span>精品质</b></li>
                <li><b class="icoen_3" ><span></span>极速修</b></li>
                <li><b class="icoen_4" ><span></span>更安全</b></li>
            </ul>
        </div>
        <div class="content_right v_bottom">
            <div class="content_phone imgw">
                <div class="phone_img">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--pc_content2 -->
<div class="pc_content pc_content_hs gundu" id="dlm2">
    <div class="guide_pc">
        <div class="content_right v_bottom">
            <div class="content_phone imgw imgw_c2">
                <div class="phone_img imgjk">
                    
                </div>
            </div>
        </div>
    
        <div class="content_left imgw_d2">
            <h1 class="gor_h1">在线判断，故障问题一目了然</h1>
            <h2 class="gor_h2">任性提供解决方案  让你分分钟变维修专家</h2>
            
        </div>
        
    </div>
</div>

<!--pc_content3 -->
<div class="pc_content" id="dlm3">
    <div class="guide_pc">
        <div class="content_left imgw_c2">
            <h1 class="gor_h1">快速确认定位  即刻上门维修</h1>
            <h2 class="gor_h2">定位在地图上 更在心上！维百士，只为您一呼百应！</h2>
        </div>
        <div class="content_right v_bottom">
            <div class="content_phone imgw imgw_d2">
                <div class="phone_img imgjk1">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!--pc_content4 -->
<div class="pc_content pc_content_hs" id="dlm4">
    <div class="guide_pc">
        <div class="content_right">
            <div class="content_phone imgw imgw_c2">
                <div class="phone_img imgjk2">
                    
                </div>
            </div>
        </div>
    
        <div class="content_left imgw_d2">
            <h1 class="gor_h1">工程师严格甄选  专业专精专修</h1>
            <h2 class="gor_h2">即时响应  比曹操只快一步！</h2>
            
        </div>
        
    </div>
</div>

<!--pc_content5 -->
<div class="pc_content" id="dlm5">
    <div class="guide_pc">
        <div class="content_left imgw_c2">
            <h1 class="gor_h1">修这一次  仅这一次</h1>
            <h2 class="gor_h2">无后顾之忧  180天免费保修</h2>
        </div>
        <div class="content_right">
            <div class="content_phone imgw imgw_d2">
                <div class="phone_img imgjk3">
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!--pc_content6 -->
<!--<div class=" but_xinwen">
    <div class="guide_pc">
        <div class="but_xinwen_com">
            <h1 class="jing_nubu">精彩资讯</h1>
            <ul class="gor_bucnt_m_w">
                <li class="gor_bucnt_m_w6">
                    <a href="__CONTROLLER__/news_list">
                        <img src="__PUBLIC__/img/banner/4.png">
                        <div class="oopiu">
                            <div class="bunn_olku">
                                这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                            </div>
                        </div>
                        <span>
                            <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                            <p class="lop_r">2016-8-9 11:43</p>
                        </span>
                    </a>
                </li>
                <li class="gor_bucnt_m_w1">
                    <a href="__CONTROLLER__/news_list">
                        <img src="__PUBLIC__/img/banner/4.png">
                        <div class="oopiu">
                            <div class="bunn_olku">
                                这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                            </div>
                        </div>
                        <span>
                            <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                            <p class="lop_r">2016-8-9 11:43</p>
                        </span>
                    </a>
                </li>
                <li class="gor_bucnt_m_w1">
                    <a href="__CONTROLLER__/news_list">
                        <img src="__PUBLIC__/img/banner/4.png">
                        <div class="oopiu">
                            <div class="bunn_olku">
                                这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                            </div>
                        </div>
                        <span>
                            <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                            <p class="lop_r">2016-8-9 11:43</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->


<!--pc-con_footer-->
<div class="pc-con_footer">
    <ul class="gor_bucnt">
        <li class="gor_bucnt_m">
                <img src="__PUBLIC__/img/pc_images/images/ico_mm_12.png">
                <span>
                    <strong>在线定价</strong>
                    <em> 在线下单 价格透明</em>
                </span>
        </li>
        <li class="gor_bucnt_m">
                <img src="__PUBLIC__/img/pc_images/images/ico_mm_13.png">
                <span>
                    <strong>上门服务</strong>
                    <em>足不出户享专修</em>
                </span>
        </li>
        <li class="gor_bucnt_m">
                <img src="__PUBLIC__/img/pc_images/images/ico_mm_14.png">
                <span>
                    <strong>官方品质 </strong>
                    <em>原厂高品质零配件</em>
                </span>
        </li>
        <li class="gor_bucnt_m">
                <img src="__PUBLIC__/img/pc_images/images/ico_mm_15.png">
                <span>
                    <strong>售后保障</strong>
                    <em>180天免费质保更放心</em>
                </span>
        </li>
    </ul>
</div>

<!--pc_footer-->
<div class="pc_footer">
    <div class="guide_pc">
        <div class="gor_bucnt_m_w pc_footer_top_box">
            <div class="gor_bucnt_m_w2 pc_footer_top_box_l">
                <ul class="gor_bucnt">
                    <li class="gor_bucnt_m">
                        <h2>维修问题</h2>
                        <ul class="cmk_dy">
                            <li>
                                <a id="limh_1" class="limh_1" href="javascript:void(0)"><span></span>常见问题</a>
                            </li>
                            <li>
                                <a id="limh_2" class="limh_2" href="javascript:void(0)"><span></span>质保说明</a>
                            </li>
                            <li>
                                <a id="limh_3" class="limh_3" href="javascript:void(0)"><span></span>服务优化</a>
                            </li>
                            <li>
                                <a id="limh_4" class="limh_4" href="javascript:void(0)"><span></span>用户评价</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gor_bucnt_m">
                        <h2>维修方式</h2>
                        <ul class="cmk_dy">
                            <li>
                                <a id="limh_5" class="limh_5" href="javascript:void(0)"><span></span>上门流程</a>
                            </li>
                            <li>
                                <a id="limh_6" class="limh_6" href="javascript:void(0)"><span></span>寄修流程</a>
                            </li>
                            <li>
                                <a id="limh_7" class="limh_7" href="javascript:void(0)"><span></span>到店流程</a>
                            </li>
                            <li>
                                <a id="limh_8" class="limh_8" href="javascript:void(0)"><span></span>支付方式</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gor_bucnt_m">
                        <h2>关于我们</h2>
                        <ul class="cmk_dy">
                            <li>
                                <a id="limh_9" class="limh_9" href="javascript:void(0)"><span></span>联系我们</a>
                            </li>
                            <li>
                                <a id="limh_10" class="limh_10" href="javascript:void(0)"><span></span>投诉建议</a>
                            </li>
                            <li>
                                <a id="limh_11" class="limh_11" href="javascript:void(0)"><span></span>加盟合作</a>
                            </li>
                            <li>
                                <a id="limh_12" class="limh_12" href="javascript:void(0)"><span></span>公司简介</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gor_bucnt_m">
                        <h2>关注我们</h2>
                        <ul class="cmk_dy">
                            <li class="limhdy">
                                <div class="ertmd">
                                    <i class="i1"></i>
                                    <i class="i2"></i>
                                    <p>打开微信界面，点击右上角的"+"，选择"扫一扫"功能对准下方二维码即可。</p> 
                                    <img src="__PUBLIC__/img/pc_images/images/weixmer_1.jpg"/> 
                                </div>
                                <a class="limh_13" href="javascript:void(0)"><span></span>关注微信</a>
                            </li>
                            <li>
                                <a class="limh_14" href="http://weibo.com/wbs600177"  target="_blank"><span></span>新浪微博</a>
                            </li>
                            <li>
                                <a class="limh_15" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E7%BB%B4%E7%99%BE%E5%A3%AB&fr=search" target="_blank"><span></span>百度贴吧</a>
                            </li>
                            <li>
                                <a class="limh_16" href="https://shop63884404.taobao.com/"  target="_blank"><span></span>淘宝店铺</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <div class="gor_bucnt_m_w1 pc_footer_top_box_r">
                <div class="my_gongs"></div>
            </div>
        </div>
    </div>
    <div class="pc_footer_bon">
        <p>Copyright © 2015 - 2016 weibaishi.com. All Rights Reserved.</p>
        <p>维百士 京ICP备15051058号-2</p>
    </div>
</div>

<!--右侧返回顶部-->
<div class="bueonc">
    <a id="mkys" href="javascript:;" class="toolml toolmlcm1">
        <i></i>
        <span>在线客服</span>
    </a>
    <a href="javascript:;" class="toolml toolmlcm2">
        <div class="munbdt">
            <span>4008-0306-03</span>
            <span>服务时间：08:00至20:00</span>
        </div>
        <i></i>
        <span>电话客服</span>
    </a>
    <a id="toolmlcm3" href="javascript:;" class="toolml toolmlcm3">
        <i></i>
        <span>快速报修</span>
    </a>
    <a id="fhdb" href="javascript:void(0)" onclick="pageScroll()" class="toolml toolmlcm4">
        <i></i>
        <span>返回顶部</span>
    </a>
</div>

<div class="tanchuang cd-popup3" id="tanchuang">
    <a class="cd-popbn cd-popup-close" href="javascript:void(0)" ></a>
    <div class="tanchuang_con" id="li_box">
        <iframe id="mkhnd" name="iframeName" frameBorder="0" width="332" scrolling="auto" height="556"></iframe>
    </div>
</div>




<script>
//var brands_lis_c =contentWindow.document.getElementById('brands_lis_c');
//$(window.frames["iframe"].document).find("#brands_lis_c").text(1);
//window.parent.document.getElementById('brands_lis_c').innerHTML='redice';
/*function hideImg(i) {
	var imgs = i.contentWindow.document.getElementById('brands_lis_c');
	for(var i=0;i<imgs.length;i++)imgs[i].style.display='none'
}*/
//var olk=window.parent.test()
//alert(olk)
//alert($("#mkhnd").contents().find("div").html())  
//$("#mkhnd",parent.document.body).attr("src","https://www.baidu.com/")
//alert($("#mkhnd").contents().find("brands_lis_c"))
$(function(){
	//.brands>.brands_lis{ overflow:auto; background:red;}
	//$(window.parent.document).find("#brands_lis_c").addClass('gundu_a')
	//alert($("#mkhnd", window.parent.document));//获取父中jQuery对象
	function dakk(urlm){
		//$("html,body").css({"overflow-y": "hidden"});
		$('.cd-popup3').addClass('is-visible3');
		$("#mkhnd",parent.document.body).attr("src",urlm);
		$('.cd-popbn').on('click', function(event){
			event.preventDefault();
			$('.cd-popup3').removeClass('is-visible3');
			//$("html,body").css({"overflow-y": "auto",'height':'auto'});
        });
	}
	$("#baoxiu").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/phone')
	})
	
	$("#cxgl").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/ksxd')
	})
	
	$("#bzzx").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/price')
	})
	
	$("#cxyzf").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/login')
	})
	$("#toolmlcm3").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/ksxd')
	})
	$("#limh_10").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/tousu')
	})
	
	$("#limh_5,#limh_6,#limh_7").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/weixiulc')
	})
	
	$("#limh_9").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/contacm')//contacm
	})
	$("#limh_11").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/contacm')//contacm
	})
	
	$("#limh_12").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/gsjianj')//contacm
	})
	
	$("#limh_2").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/qusm')
	})
	
	$("#limh_1").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/changjwtc')
	})
	
	$("#limh_3").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/fuwuyh')
	})
	
	$("#limh_4").click(function(){
		alert('正在开拓此功能，敬请等待')
	})
	
	$("#limh_8").click(function(){
		dakk('http://m.weibaishi.com/Home/Index/zhifutype')
	})
	
	
	
    //kf5-support-btn
	$("#mkys").click(function(){
		$("#kf5-support-btn").click()
	})
	
	
	
	//打开窗口
        /*$('.nav_linn').on('click', function(event){
            event.preventDefault();
			alert(event.target)
            $('.cd-popup3').addClass('is-visible3');
            //$(".dialog-addquxiao").hide()
        });
        //关闭窗口
        $('.cd-popbn').on('click', function(event){
            
                event.preventDefault();
                $('.cd-popup3').removeClass('is-visible3');
            
        });
        //ESC关闭
        $(document).keyup(function(event){
            if(event.which=='27'){
                $('.cd-popup3').removeClass('is-visible3');
            }
        });*/
	
	
	$(window.frames["mkhnd"].document).contents().find("#brands_lis_c").css({background:"#369"});//获取子iframe中jQuery对象
	$(window.frames["mkhnd"].document).find("#brands_lis_c").css({background:"#369"});
	   
   $(window).scroll(function(){
       var top=$(window).scrollTop();                     //top等于窗口滚动与顶部的距离
	   var ym_h=$(window).height()
	   if (top !=0){
	       $(".pc-head").addClass('oncel')
		   $(".pc-banner").addClass('pc-banner_c')
	   }else{
		   $(".pc-head").removeClass('oncel')
		   $(".pc-banner").removeClass('pc-banner_c')
	   }
	   var dlm2=$("#dlm2").height()/2;
	   var dlm3=$("#dlm3").height()/2;
	   var dlm4=$("#dlm4").height()/2;
	   var dlm5=$("#dlm5").height()/2;
	   if (top >= $("#dlm2").offset().top - ym_h+dlm2){
		   $("#dlm2").addClass('gundu_a')
	   }
	   if (top >= $("#dlm3").offset().top - ym_h+dlm3){
		   $("#dlm3").addClass('gundu_a')
	   }
	   if (top >= $("#dlm4").offset().top - ym_h+dlm4){
		   $("#dlm4").addClass('gundu_a')
	   }
	   if (top >= $("#dlm5").offset().top - ym_h+dlm5){
		   $("#dlm5").addClass('gundu_a')
	   }
	   
	   
	   //console.log(dlm2);
   })
   

	/*$(".logo").bind("click", function () {
		$.ajax({
			url:"__CONTROLLER__/mlky",
			//data: { num: $("#txtNumber").val() },
			type: "post",
			success: function (data) {
				$("#li_box").html(data);	
			}
		});
	})*/

 
})

</script>
<script>

var fhdb = document.getElementById("fhdb");

//获取页面可视区高度
var dqy = document.documentElement.clientHeight;

//滚动条滚动时触发   在滚动的时候触发
	  window.onscroll = function(){
	       var sTop = document.documentElement.scrollTop || document.body.scrollTop;
		   if(sTop>=dqy){
			   $("#fhdb").addClass('toolmlcmmm') ;
			   }else{
				  $("#fhdb").removeClass('toolmlcmmm') ;
			   }
	  }

function pageScroll(){
    //把内容滚动指定的像素数（第一个参数是向右滚动的像素数，第二个参数是向下滚动的像素数）
    window.scrollBy(0,-100);
    //延时递归调用，模拟滚动向上效果
    scrolldelay = setTimeout('pageScroll()',30);
    //获取scrollTop值，声明了DTD的标准网页取document.documentElement.scrollTop，否则取document.body.scrollTop；因为二者只有一个会生效，另一个就恒为0，所以取和值可以得到网页的真正的scrollTop值
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    //判断当页面到达顶部，取消延时代码（否则页面滚动到顶部会无法再向下正常浏览页面）
    if(sTop==0) clearTimeout(scrolldelay)
	
}

</script>
</body>
</html>
