<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>手机维修 | 苹果/安卓手机维修 | 数码维修 | 电脑维修</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/pc_style.css" rel="stylesheet" type="text/css">
<style>

</style>
</head>

<body>
    <div class="gongg_12w">
        <div class="news_list_top">
            <a class="jing_nubu" href="__CONTROLLER__/index">首页 </a> > <span>精彩资讯</span>
        </div>
        <div class="news_list_com">
            <div class="news_list_com_l fl">
                <!--pc_content6 -->
                <div class=" but_xinwen but_xinwen_a_1">
                    <div class="but_xinwen_com">
                        <ul class="gor_bucnt_m_w">
                            <li class="gor_bucnt_m_w6">
                                <a href="__CONTROLLER__/news_content">
                                    <img src="__PUBLIC__/img/banner/4.png">
                                    <div class="oopiu">
                                        <div class="bunn_olku">
                                            这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                                        </div>
                                    </div>
                                    <span>
                                        <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                                        <p class="lop_r">2016-8-9 11:43</p>
                                    </span>
                                </a>
                            </li>
                            
                            <li class="gor_bucnt_m_w1">
                                <a href="__CONTROLLER__/news_content">
                                    <img src="__PUBLIC__/img/banner/4.png">
                                    <div class="oopiu">
                                        <div class="bunn_olku">
                                            这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                                        </div>
                                    </div>
                                    <span>
                                        <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                                        <p class="lop_r">2016-8-9 11:43</p>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <ul class="gor_bucnt_m_w lmmkop">
                            
                            <li class="gor_bucnt_m_w1">
                                <a href="__CONTROLLER__/news_content">
                                    <img src="__PUBLIC__/img/banner/4.png">
                                    <div class="oopiu">
                                        <div class="bunn_olku">
                                            这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                                        </div>
                                    </div>
                                    <span>
                                        <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                                        <p class="lop_r">2016-8-9 11:43</p>
                                    </span>
                                </a>
                            </li>
                            <li class="gor_bucnt_m_w1">
                                <a href="__CONTROLLER__/news_content">
                                    <img src="__PUBLIC__/img/banner/4.png">
                                    <div class="oopiu">
                                        <div class="bunn_olku">
                                            这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                                        </div>
                                    </div>
                                    <span>
                                        <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                                        <p class="lop_r">2016-8-9 11:43</p>
                                    </span>
                                </a>
                            </li>
                            <li class="gor_bucnt_m_w1">
                                <a href="__CONTROLLER__/news_content">
                                    <img src="__PUBLIC__/img/banner/4.png">
                                    <div class="oopiu">
                                        <div class="bunn_olku">
                                            这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。
                                        </div>
                                    </div>
                                    <span>
                                        <p class="polmmk">VR这么多领域 微鲸VR为何偏偏看中了VR直播？</p>
                                        <p class="lop_r">2016-8-9 11:43</p>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="lannu_list">
                            <div class="lannu_list_box">
                                <li>
                                    <a href="__CONTROLLER__/news_content">
                                        <img  src="__PUBLIC__/img/banner/4.png">
                                        <span class="lannu_list_box_span">
                                            <h1>Prisma爆红这么久 现在才有中国追随者（鼠标选中或划过效果，超链接都是）</h1>
                                            <p>这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。</p>
                                            <p class="lmlopi">2016-8-9 15:11</p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="__CONTROLLER__/news_content">
                                        <img  src="__PUBLIC__/img/banner/4.png">
                                        <span class="lannu_list_box_span">
                                            <h1>Prisma爆红这么久 现在才有中国追随者（鼠标选中或划过效果，超链接都是）</h1>
                                            <p>这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。</p>
                                            <p class="lmlopi">2016-8-9 15:11</p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="__CONTROLLER__/news_content">
                                        <img  src="__PUBLIC__/img/banner/4.png">
                                        <span class="lannu_list_box_span">
                                            <h1>Prisma爆红这么久 现在才有中国追随者（鼠标选中或划过效果，超链接都是）</h1>
                                            <p>这里是新闻的摘要：2014年2月，Facebook斥资20亿美元收购VR创业公司Oculus，引发了外界对VR的关注，同时也带动了国内一大批公司在VR领域的布局，华人文化和其旗下微鲸就是其中的一员。</p>
                                            <p class="lmlopi">2016-8-9 15:11</p>
                                        </span>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="news_list_com_r fl">
                <h1>精彩推荐</h1>
                <div class="news_list_com_r_com">
                    <a href="__CONTROLLER__/news_content">
                        <img src="__PUBLIC__/img/banner/4.png">
                    </a>
                    <a href="__CONTROLLER__/news_content">
                        <img src="__PUBLIC__/img/banner/4.png">
                    </a>
                    <a href="__CONTROLLER__/news_content">
                        <img src="__PUBLIC__/img/banner/4.png">
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>






































