<foreach name='arr' item='vv'>
            <li class="lmbhu lmbhuopd" >
               
               <div class="listy_box">
                   <div class="listy_pk">订单号：{$vv.ddh}</div>
                   
                   <div style="line-height:30px;" class="listy_pk">机型：{$vv.model_name}<br/>问题：{$vv.question_name}</div>
                   <div class="listy_pk">工程师：{$vv.user_username}<span class="fr">应付{$vv.amount}元 <span class="youhuikl">优惠后价格 <i class="danw">{$vv.amountt}</i> 元</span></span></div>
               </div>
               
               
               
               <if condition="strtoupper($vv['stau']) eq  4">
               <div class="listy_kr">
                   <span class="listy_con">
                       <a class="didb llvcer" href="__CONTROLLER__/queren/id/{$vv.id}" onclick="if(confirm('确定操作?')==false)return false;">确认</a>
                       <a class="didb llvcer" href='javascript:void(0)'onclick='ass({$vv.id})'>添加优惠金额</a>
                       <a class="didb" href="__MODULE__/Ddguanli/xiangqing/id/{$vv.id}" >查看详情</a>
                   </span>
               </div>
               <else/>
               </if>

               
            </li>
            </foreach>