<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<a href="__CONTROLLER__/tixian">返回</a><br /><br /><br />
<a href='javascript:void(0)'onclick='tx(1)'>提现中</a>  <a href='javascript:void(0)'onclick='tx(2)'>已完成</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)'onclick='tx(3)'>失败</a><br /><br /><br />
	<div id='list'>
	<foreach name='arr' item='k'>
			单号:{$k.tixianshenqing_id} <br />
			提现金额:{$k.amt}<br />		
			账号:{$k.kahao}<br />
			姓名:{$k.xingming}<br />
			申请时间:{$k.txsq_time}<br />
			申请中<br /><br /><br />
					
			
	</foreach>
</div>
</body>
</html>
<script type="text/javascript">
	function tx(zta){
		//alert(zta);
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/txxxajax/zta/"+zta,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('list').innerHTML=ajax.responseText
				}
}
	}

</script>