<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/style/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/new/style/admin_index.css">
<table class="table" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>序号</th>
			<th>货品名称</th>
			<th>颜色</th>
			<th>客户姓名</th>
			<th>客户电话</th>
			<th>订单编号</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>适用OPPO R7/R7s/R9 Plus/A59/A37更换屏幕手机维修触摸外屏上门</td>
			<td>颜色分类:【OPPO R7s】屏碎/显示正常/带框</td>
			<td>章凡</td>
			<td>18086639226</td><td>538374482621</td>
		</tr>
		<tr>
			<td colspan="8">
				<div class="anniu-center">
					<div class="anniu fl">
						<span onclick="pipeisd(1,this)">匹配SKU</span>
						<span onclick="buzuo(1,this)">暂不做</span>
						<span onclick="buffuhe(1,this)">不符合</span>
					</div>
					<div class="anniu_hu fr">
						<span onclick="xiangqo(1,this)">订单详情</span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<script type="text/javascript">
	function ll(){
		alert(1)
	}
</script>