
<div class="Maskc_box">
    <div class="lili_c_ico"><p></p><span></span></div>
            <ul class="lili_c_ico_dv">
                <foreach  name='arr10' item='kk'>
                    <li class="my_bu_x">
                    <div class="fl">
                        <span class="nudt_1_r">{$kk.user_username}</span>
                    </div>
                    <div style="text-align:right;"><span class="nudt_1_l"><!--{$kk.cpk_name}-->{$kk.xd_time}</span></div>
                    
                    </li>
                </foreach>
                 
            </ul>
</div>