<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<a href="__MODULE__/Index/index">返回</a>
<center><a href="__CONTROLLER__/index">未开据</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="__CONTROLLER__/yikj">已开据</a></center>
	<table border=1>
<th>发票抬头</th>
<th>发票金额</th>
<th>收件人</th>
<th>发票邮寄地址</th>
<th>电话</th>
<tr>
<foreach name='arr' item='vv'>

	<td>{$vv.fptt}</td>
	<td>{$vv.amount}</td>
	<td>{$vv.user}</td>
	<td>{$vv.dizhi}</td>
	<td>{$vv.u_phone}</td>
	<td>
<a href="__CONTROLLER__/qrkj/fp_id/{$vv.fp_id}">确认开据</a>
	</td>
	
</tr>
</foreach>
</body>
</html>