<foreach name='arr' item='k'>
                <li class="" id="{$k.question_id}" style="padding:0;">
                    <div class="zhuti_rom_list_r fr" style="width:370px;">
                        
                        <a class="zjnmk_pp" href="__CONTROLLER__/xiaoshanchu/model_id/{$model_id}/brand_id/{$brand_id}/question_id/{$k.question_id}/questiontype_id/{$questiontype_id}" onclick="if(confirm('确定删除?')==false)return false;"><span class="zhkkbn"></span></a>
                        <span class="vbcxv fr">
                            <a class="shang_up" href='javascript:void(0)'onclick='as1({$k.question_id},this)'></a>
                            <a class="xia_up" href='javascript:void(0)'onclick='as2({$k.question_id},this)'></a>
                        </span>
                        <a class="Return_button_a1 fr bcrfgt" href="__CONTROLLER__/ghjiejuefangan/model_id/{$model_id}/brand_id/{$brand_id}/questiontype_id/{$k.questiontype_id}/question_id/{$k.question_id}">更换解决方案</a>
                        <span class="vbcxv_pom">{$k.plan_name}</span>
                        
                    </div>
                    <!--<strong class="buctrese">{$k.question_name}</strong>-->
                    <form class="" style="display:inline-block; margin-right:40px;" method="post" action="__CONTROLLER__/question_upp">
                        <strong class="buctrese">
                            
                            <input readonly="true" class="xiubuttce xiubuttce_as1 bvbaw" style="text-align:left; width:190px;" type="text" name="question_name" value='{$k.question_name}'>
                        
                            <span class="mzsaw mzsaw_cc1">
                                <input style="display:none; background:#fff;" class="Return_button_a1" type="submit" value='确定'>
                                <span class="btn_xiuga btrui cursor bvbawennb bvbaw">修改</span>
                                <input class="nnbbbv Return_button_a1" style=" display:none; background:#fff;" type="reset" value="取消" />
                            </span>
                        </strong>
                        <input type="hidden" name="question_id"  value='{$k.question_id}'>
                        
                        
                        <input type="hidden" name="questiontype_id" id="questiontype_id" value='{$questiontype_id}'>
                        <input type="hidden" name="brand_id" id='brand_id' value='{$brand_id}'>
                        <input type="hidden" name="model_id" id="model_id"  value='{$model_id}'>
                    </form>
                    <span class="">{$k.money}</span>
                </li>
            </foreach>