<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>产品库管理_小问题修改</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/Admin_modify.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<style type="text/css">
.vbcxv { width:55px;}
.vbcxv_pom{ width:125px; display:inline-block; overflow:hidden; display:block; margin-right:15px;
overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
</style>
</head>
<body class="body1_color">
<div class="header public_width">
    <h1 class="header_h1">产品库 &gt; 手机维修 &gt; {$model_name} &gt; 问题 &gt; 小问题修改
    <a class="youb_mk" href="__CONTROLLER__/questionhs/model_id/{$model_id}/brand_id/{$brand_id}/questiontype_id/{$questiontype_id}">回收</a>
    </h1>
</div>

<div class="container public_width">
    <!--公共返回-->
    <div class="Return">
        <!--<span class="Return_button cursor" onClick="window.history.back()">返回</span>-->
        <a class="Return_button" href="__CONTROLLER__/xiaowenti/brand_id/{$brand_id}/model_id/{$model_id}/question_id/{$question_id}">返回</a>
    </div>
    <!--公共返回-->
    <div class="append_cp">
        <div class="append_cp_box clearfix">
            <button class="append_cp_anniu_but" id="tianco">添加问题</button>
            <form method="post" action="__CONTROLLER__/modelup">
                
                <!--<input class="append_cp_text fl" type="text" name="model_name" placeholder="请填写您要添加的机型名称"/>-->
                <!--<input type="hidden" name="type_id" value='{$type_id}'>-->
				 <input type="hidden"  name="model_id" value='{$model_id}'>
                <input type="hidden" name="type_id" value='{$type_id}'>
	            <input type="hidden" name="brand_id" value='{$brand_id}'>
                <!--<input class="append_cp_anniu fl cursor" type="submit" value='添加'>-->
            </form>
        </div>
    </div>
    
    <div class="container_modify" id="xgpinpan">
        <ul class="zhuti_rom" id="p">
            <foreach name='arr' item='k'>
                <li class="" id="{$k.question_id}" style="padding:0;">
                    <div class="zhuti_rom_list_r fr" style="width:370px;">
                        
                        <a class="zjnmk_pp" href="__CONTROLLER__/xiaoshanchu/model_id/{$model_id}/brand_id/{$brand_id}/question_id/{$k.question_id}/questiontype_id/{$questiontype_id}" onclick="if(confirm('确定删除?')==false)return false;"><span class="zhkkbn"></span></a>
                        <span class="vbcxv fr">
                            <a class="shang_up" href='javascript:void(0)'onclick='as1({$k.question_id},this)'></a>
                            <a class="xia_up" href='javascript:void(0)'onclick='as2({$k.question_id},this)'></a>
                        </span>
                        <a class="Return_button_a1 fr bcrfgt" href="__CONTROLLER__/ghjiejuefangan/model_id/{$model_id}/brand_id/{$brand_id}/questiontype_id/{$k.questiontype_id}/question_id/{$k.question_id}">更换解决方案</a>
                        <span class="vbcxv_pom">{$k.plan_name}</span>
                        
                    </div>
                    <!--<strong class="buctrese">{$k.question_name}</strong>-->
                    <form class="" style="display:inline-block; margin-right:40px;" method="post" action="__CONTROLLER__/question_upp">
                        <strong class="buctrese">
                            
                            <input readonly="true" class="xiubuttce xiubuttce_as1 bvbaw" style="text-align:left; width:190px;" type="text" name="question_name" value='{$k.question_name}'>
                        
                            <span class="mzsaw mzsaw_cc1">
                                <input style="display:none; background:#fff;" class="Return_button_a1" type="submit" value='确定'>
                                <span class="btn_xiuga btrui cursor bvbawennb bvbaw">修改</span>
                                <input class="nnbbbv Return_button_a1" style=" display:none; background:#fff;" type="reset" value="取消" />
                            </span>
                        </strong>
                        <input type="hidden" name="question_id"  value='{$k.question_id}'>
                        
                        
                        <input type="hidden" name="questiontype_id" id="questiontype_id" value='{$questiontype_id}'>
                        <input type="hidden" name="brand_id" id='brand_id' value='{$brand_id}'>
                        <input type="hidden" name="model_id" id="model_id"  value='{$model_id}'>
                    </form>
                    <span class="">{$k.money}</span>
                </li>
            </foreach>
        </ul>
    </div>
    
    <div class="bikuss" id="bikuss">
        <ul class="zhuti_rom zhuti_rom_a1">
            <form method="post" action="__CONTROLLER__/questtadd" onSubmit="return Checked();">
                
                <h2 class="erji_h2">请选择您要添加的问题</h2>
                <li class="">
                    <foreach name='arr5' item='ll'>
                        <input class="color_ya_input" type="checkbox" name="question_id[]" value='{$ll.xwt_id}'>
                        <span class="Return_button_a1 Return_button_a2 color_ya">{$ll.xwt_name}</span>
                        <input class="color_ya_input" type="checkbox" name="question_name[]" value='{$ll.xwt_name}'>
                        
                    </foreach>
                </li>
                
                <input type="hidden" id='model_id' name="model_id" value='{$model_id}'>
	         	<input type="hidden" id='brand_id' name="brand_id" value='{$brand_id}'>
	        	<input type="hidden" id='questiontype_id' name="questiontype_id" value='{$questiontype_id}'>
                
                <li class="li_list_conm">
                <input class="append_cp_anniu_but" type="submit" value='添加'>
                </li>
	        </form>
        </ul>
    </div>
    
</div>




</body>
</html>
<script type="text/javascript">
eibur()
	function as1(id,thise){
		
	   var shang_id=$(thise).parents('li').prev();
	   //console.log(shang_id)
       var questionid=shang_id.attr('id');
	   
	   var brandid=document.getElementById('brand_id').value;
	   var questiontype_id=document.getElementById('questiontype_id').value;
	   var model_id=document.getElementById('model_id').value;
	   
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/questionpai/model_id/"+model_id+"/questionid/"+questionid+"/brand_id/"+brandid+"/questiontype_id/"+questiontype_id+"/question_id/"+id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('p').innerHTML=ajax.responseText
					eibur()
				}
			}

	}

	function as2(id,thise){
		
	   var shang_id=$(thise).parents('li').next();
       var questionid=shang_id.attr('id');
		
		var brandid=document.getElementById('brand_id').value;
	   var questiontype_id=document.getElementById('questiontype_id').value;
	   var model_id=document.getElementById('model_id').value;
		
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/questionpai/model_id/"+model_id+"/questionid/"+questionid+"/brand_id/"+brandid+"/questiontype_id/"+questiontype_id+"/question_id/"+id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('p').innerHTML=ajax.responseText
					eibur()
				}
			}

	}
	
    function eibur(){
		var uu=$("#p li").eq(0).find('.vbcxv a').eq(0);
		var uui=$("#p li").length-1;
		var bbv=$("#p li").eq(uui).find('.vbcxv a').eq(1);
		uu.hide();
		bbv.hide();
		//console.log(uu)
		
	}

</script>
<script>
$(function(){
	$("#tianco").click(function(){
		var my_text=$(this).text();
		if(my_text=='添加问题'){
			$(this).text('返回');
			$("#xgpinpan").hide();
		    $("#bikuss").show();
		}else{
			$(this).text('添加问题');
			$("#xgpinpan").show();
		    $("#bikuss").hide();
		}
	})
	
	$(".color_ya").click(function(){
		if($(this).hasClass('on')){
			$(this).removeClass('on')
			$(this).prev('input').attr("checked",false);
			$(this).next('input').attr("checked",false);
		}else{
		    $(this).addClass('on')
			$(this).prev('input').attr("checked",true);
		    $(this).next('input').attr("checked",true);
		};
	})
	
	$(".color_ya1").click(function(){
		if($(this).hasClass('on')){
			$(this).removeClass('on')
			$(this).next('input').attr("checked",false);
		}else{
		    $(this).addClass('on')
		    $(this).next('input').attr("checked",true);
		};
	});
	
	
	$(".btn_xiuga").click(function(){
		$(this).hide().prev().show();
		$(this).next().show();
		$(this).parents('li').find('input.xiubuttce,select.xiubuttce').removeAttr("disabled").removeAttr("readonly").addClass('on');
		                   //阻止 <span> 的 click 事件冒泡
		$(this).parents('li').siblings().find("input.Return_button_a1[type='submit']").hide().next().show();
		$(this).parents('li').siblings().find("input[type='reset']").hide()
		$(this).parents('li').siblings().find('input.xiubuttce,select.xiubuttce').attr("readonly", "true").removeClass('on');
		
		
		$(".nnbbbv").click(function(){
			$(this).hide().prevAll("input.Return_button_a1[type='submit']").hide();
		    $(this).prevAll('span').show();
			$(this).parents('li').find('input.xiubuttce,select.xiubuttce').attr("readonly", "true").removeClass('on');
		})
		
		$(".xiubuttce.on").click(function(event){
			$(this).next('ul').show();
			$(".mmbucts ul li").hover(function(){
				  $(this).css({'background-color':'#f1f1f1'})
			  },function(){
				  $(this).css({'background-color':''})
			  });
			  $(".mmbucts ul li").click(function(){
				  $(this).parents('.mmbucts').find('input').val($.trim($(this).text()));
				  $(this).parents('li').find('.bbvcx').val($(this).attr('data'))
		      })
			  
			event.stopPropagation(); 
		})
		
	})
	
	
	
})

function Checked(){
	
	
	var nnmuo=$("input.color_ya_input[type='checkbox'][checked]").length;
	if(nnmuo<1){
		alert('您还没选择问题')
		return false;
	}
	
	
	return true;
}
</script>


<script type="text/javascript">
function ass(){
	document.getElementById('t').style.display="block";
	document.getElementById('p').style.display="none";
	}
	function ad(){
	document.getElementById('t').style.display="none";
	}
	function add(){
	document.getElementById('p').style.display="none";
	}function asss(id){
	document.getElementById('t').style.display="none";
	document.getElementById('p').style.display="block";
	var model_id=document.getElementById('model_id').value;
	var brand_id=document.getElementById('brand_id').value;
	var questiontype_id=document.getElementById('questiontype_id').value;
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/jiejuefangan/question_id/"+id+"/model_id/"+model_id+"/brand_id/"+brand_id+"/questiontype_id/"+questiontype_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('p').innerHTML=ajax.responseText
				}
			}

	}

</script>
