<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
// 打开一个 web socket
var ws = new WebSocket("ws://101.200.219.26:2346");

ws.onopen = function() {
    // Web Socket 已连接上，使用 send() 方法发送数据
    //ws.send('17301205932');
    //alert("数据发送中...");
    console.log('Connection to server opened');
};

ws.onmessage = function(e) {
    //var data = JSON.parse(e.data);
    //nickname = data.nickname;
    //appendLog(e.data);
    //console.log("ID: [%s] = %s", data.id, data.message);
    var nuopge=e.data.split(",")
    if(nuopge[0]=="op_pull"){
        console.log(nuopge[1])
    }
};

// ws.onclose = function() {
//  // 关闭 websocket
//  alert("连接已关闭...");
// };

function appendLog(e) {
    var messages = document.getElementById('messages');
    var messageElem = document.createElement("li");
    var preface_label;
    preface_label = "<span>" + e + "</span>";
    messageElem.innerHTML = preface_label;
    messages.appendChild(messageElem);
    //var count_people = document.getElementById("count_people");
    //count_people.innerHTML = clientcount;

}

function sendMessage() {
    var op_pull="op_pull,"+1
    ws.send(op_pull);

    //console.log(ws.bufferedAmount);
}
</script>
<body>
    <span onclick="sendMessage()">抢单</span>
</body>
</html>
