            <div class="ceomer_com">
                <foreach name='arr' item='kk'>
                    <a class="shifu_aclc" href="__CONTROLLER__/shouhouxq/id/{$kk.id}/shouhou_id/{$kk.shouhou_id}">
                        <div class="rnmbur">
                            <ul>
                                <li>
                                     <span class="chuangmbr">{$kk.dd}</span>
                                </li>
                                <li>
                                     机型：<span class="chuangmbr">{$kk.model_name}</span>
                                </li>
                                <li>
                                     故障描述：<span class="chuangmbr">{$kk.contentt}</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </foreach>
            </div>