<div class="ceomer_com">
      <foreach name='arr' item='kk'>  
    <h1 class="da_con_ce">订单编号：{$kk.ddh}</h1>
    <div class="rnmbur rnmbur_c">
        <ul>
            <li>
                 买方：<span class="chuangmbr">
                         {$kk.maifang}
                      </span>
                      <span class="bimnb fr"></span>
            </li>
            <li>
                 金额：<span class="chuangmbr">
                         {$kk.amount}元  
                      </span>
            </li>
            <li>
                 <span class="chuangmbr">
                         {$kk.cpk_name}
                      </span>
            </li>
            <li>
                <span class="desc">
                  
                </span>
            </li>
            
            <li>
                <span class="chuangmbr">{$kk.cangku_name}</span><span class="bimnb fr">成本:{$kk.cpk_price}元</span>
            </li>
			
        </ul>
    </div>
    
 </foreach>
</div>
