<!--
	<div id='le'>
	<foreach  name='arr3' item='k'>
	<a href='javascript:void(0)'onclick='jixing({$k.model_id})'>{$k.model_name}</a><br /> <br />
	</foreach>
	</div>
	
    
    <div id='list'>


	<foreach name='arr' item='kk'>
		<a href='javascript:void(0)'onclick=''><h3>{$kk.cpk_name}</a>&nbsp;&nbsp;&nbsp;&nbsp;{$kk.cpp_price}元&nbsp;&nbsp;&nbsp;&nbsp;</h3>
		<foreach name="kk['data']" item='ee'>
		{$ee.cangku_name}&nbsp;&nbsp;&nbsp;&nbsp; 数量({$ee.numss})&nbsp;&nbsp;&nbsp;<br />
		</foreach><br /><br />
	</foreach>
	
</div>-->




		
	<!--<foreach name='arr' item='kk'>
		<h3>{$kk.model_name}</h3>
		<foreach name="kk['data']" item='ee'>
		<a href='javascript:void(0)'onclick='cpkajax({$ee.cpk_id})'>{$ee.cpk_name}{$ee.cpk_id}</a><br />
		</foreach><br /><br />
	</foreach>-->
    
    <foreach name='arr' item='kk'>
        <li><!--<span><i></i><em></em></span>--><b></b>{$kk.model_name}
        <ul>
         <foreach name="kk['data']" item='ee'>
                <li>
                <a href='javascript:void(0)'onclick='cpkajax({$ee.cpk_id})'>{$ee.cpk_name}{$ee.cpk_id}</a>
                </li>
        </foreach> 
        </ul>
        </li>
    </foreach>