
    <div class="ceomer_com">
            <foreach name='arr' item='kk'>
            <h1 class="da_con_ce">订单编号：{$kk.ddh}<span class="shifu_qx">取消订单</span></h1>
            <div class="rnmbur">
                <ul>
                    <li>
                         退货人：<span class="chuangmbr">
                                 {$kk.tuihuouser}
                              </span>
                              <span class="bimnb fr"><a href='javascript:void(0)'onclick='de({kk.id})'>删除</a></span>
                    </li>
                    <li>
                         金额：<span class="chuangmbr">
                                 {$kk.cpk_price}元  
                              </span>
                    </li>
                    <li>
                         <span class="chuangmbr">
                                {$kk.cpk_name}
                              </span>
                    </li>
                    <li>
                        <span class="desc">
               
                        </span>
                    </li>
                    
                   
                </ul>
            </div>
			
        </foreach>
        </div>