<form method="post" action="__CONTROLLER__/yinhangtj" onSubmit="return Checkedrmmop()">
    <h1>添加银行卡</h1>
    <ul>
        <li>
            <label class="ccouyt_t">银行卡卡号：</label>
            <div class="ccouyt"><input type="tel" class="kaopoa" name="kahao" id="kaopoa_a" placeholder="" autocomplete="off"></div>
        </li>
        <li>
            <label class="ccouyt_t">银行名称：</label>
            <div class="ccouyt"><input type="text" class="kaopoa" name="yinhang_name" id="yinhang_name" placeholder="" autocomplete="off"></div>
        </li>
    </ul>
    <ul>
        <div class="pubcvt kmmnnu">
            <li id="mmbuttcn" class="pubcvt_v kmmnnu1 mmbuttcn">取消</li>
            <li class="pubcvt_v kmmnnu1"><button class="kmmnnu1_sub" type="submit">确认</button></li>
        </div>
    </ul>
</form>
