<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>维百士-邀请有礼-微信认证</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<link href="__PUBLIC__/styles/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public_rem.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/activity.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/js/script.js"></script>
<script> 
$(function() {   		
	var lkj=$(document).height();
	var cdkd=lkj-46;
	
	$(".yaoqingh_box").height(cdkd);
});
</script>
<style>
</style>

</head>
<body>
<div class="header">
    <span onclick="window.history.back()"></span>
    <h1>邀请有礼-微信认证</h1>
</div><!--头-->
<div class="yaoqingh_box">
   <div class="huio_kiuop">
       <h1 class="shouch_po">微信认证</h1>
       <div class="for_biaop">
               <ul class="biaok_llp">
                   <div class="waihang">
                       <img src="../../../../Public/img/lnv_polite_img/lnv_polite14.png">
                       <a href="__CONTROLLER__/activ_rule_shouzhuc_e.html/" class=" sa_kuive_a">认证</a>
                   </div>
               </ul>
       </div>
   </div>
   
   <div class="butt_liuchang">
       <span>手机注册</span><em></em><span class="on">微信认证</span><em></em><span>获取优惠码</span>
   </div>
   
</div>
</body>
</html>































