<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>维百士-手机维修-活动规则</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<link href="__PUBLIC__/styles/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public_rem.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/activity.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/js/script.js"></script>
<script> 
$(function() {   		
	var lkj=$(document).height();
	var cdkd=lkj-46;
	
	$(".yaoqingh_box").height(cdkd);
});
</script>
<style>
.huo_guicc{ width:78vw; height:35vh; background:url(../../../../Public/img/lnv_polite_img/lnv_polite4.png) center center no-repeat; background-size: 100% 100%; margin:auto; margin-top:14vh;}
.hun_hhgyu{ line-height:8.3vh; font-size:0.15rem; font-weight:normal; text-align:center; color:#fff;}
.huo_guicc_con{ padding:2.6vh 5vw;}
.huo_guicc_con p{ line-height:3.1vh; color:#fff; font-size:0.11rem; margin-bottom:0.04rem;}
</style>

</head>
<body>
<div class="header">
    <span onclick="window.history.back()"></span>
    <h1>活动规则</h1>
</div><!--头-->
<div class="yaoqingh_box">
   <div class="huo_guicc">
       <h1 class="hun_hhgyu">活动规则</h1>
       <div class="huo_guicc_con">
           <p>
               1、手机注册维百士账号并完成微信认证后
您将获得一组6位数的优惠码
           </p>
           <p>
               2、将该优惠码分享给您的好友，好友下单
时使用该优惠码可获得20元的现金优惠
           </p>
           <p>
               3、好友下单成功后，您将收到维百士给您
派送的30元企业红包
           </p>
       </div>
   </div>
</div>
</body>
</html>































