<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"> -->
<title>维百士-手机维修-订单提交</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<link href="__PUBLIC__/styles/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/js/script.js"></script>
<script language="JavaScript">
javascript:window.history.forward(1);
</script> 

<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=d2cc2979e70a846f16cbfa5605c8be7d&plugin=AMap.Autocomplete"></script>
<!--<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=d2cc2979e70a846f16cbfa5605c8be7d&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>-->
<!--<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=d2cc2979e70a846f16cbfa5605c8be7d&plugin=AMap.CitySearch"></script>-->


 <style>
	.r{font-size:30px;color:back;}
	h2{text-align:center;font-size:16px;}
	.form{width:100%;background:#FFF;  border-top:1px solid #EAEAEA; padding:2px 0px;}
	.form .row{margin:0 auto; font-size:15px;}
	.form .row label{margin-right:10px;}
	/*.txt,.textarea{padding:1%;border:1px solid #EAEAEA;width:300px;border-radius:2px;}*/
	.textarea{height:70px;}
	.vtop{vertical-align:top; height:30px; line-height:30px; color:#555;}
	
	.bt-save{ background:none; width:100%; height:100%;cursor:pointer;border:none;color:#FFF; font-size:16px;}
	
	.Maskc1{ background:rgba(0,0,0,0);}
	
</style> 

</head>
<body><!---->

<div class="header header_a1">
    <span onClick="window.history.back()"></span><a class="dianko_r" href="tel:400-9911-906"></a>
    <h1>请填写个人信息</h1>
    
</div><!--头-->
<div class="progressd progressd1 progressd2 progressd3 progressd4">
<i></i><i></i><i></i><i></i>
    <div class="yansheng_a"></div>
</div>
<div style="display:none;">
<foreach name='arrr' item='v'>
		<div class="nn">{$v.smwx_id}</div><div class="uu">{$v.jingweidu}</div>
</foreach>
</div>
<div class="content" >
    <div class="wos_86" id="wos_86">
            <center style="display:none;">{$my}</center>
            <div class="wx_tab">
				<a class="on" href='javascript:void(0)'onclick='ass2(1)'>
                   <div>
                    <span class="sy_ioc1 on"></span>
                    <p id="weik" class="on">{$ways1}</p>
                    <p id="weik1"></p>
                  </div>
                </a>
                <a href='javascript:void(0)'onclick='ass(3)'>
                    <div>
                    <span class="sy_ioc2"></span>
                    <p>{$ways3}</p>
                    </div>                
                </a>
				<a href='javascript:void(0)'onclick='ass1(2)'>
                    <div>
                    <span class="sy_ioc3"></span>
                    <p>{$ways2}</p>
                    </div>
                </a>
           </div>
            <div class="zhusu_tit">
               <strong style="display:block;">免费上门服务，快速当面修好，<a href="#" id="shangm_1">流程说明</a></strong>
               <strong>寄修往返包邮，全程录像直播<a href="#" id="shangm_2">流程说明</a></strong>
               <strong>到店无需等待，即来即修好礼送<a href="#" id="shangm_3">流程说明</a></strong>
           </div>    
	        <div id="wrap">
    <script>
	    var checkSubmitFlg = false;
        function Checked(){
			if ( $("#ditu").length > 0 ) {
			    var qxzdz=$("#ditu").val();
				if(qxzdz =='' || qxzdz == null){
					$("#ditu").focus().addClass("tips");
					$("#ditu").attr("placeholder", "点击选择地址");
					return false;
				}
			}
			
			if ( $("#ditu1").length > 0 ) {
			    var qxzmh=$("#ditu1").val();
				if(qxzmh =='' || qxzmh == null){
					$("#ditu1").focus().addClass("tips");
					$("#ditu1").attr("placeholder", "请填写详细地址");
					return false;
				}
			}
			
			if ( $("#yjwecz").length > 0 ) {
			    var yjweczc=$("#yjwecz").val();
				if(yjweczc =='' || yjweczc == null){
					$("#fwq").click();
					return false;
				}
			}
			
			if ( $("#ddwecz").length > 0 ) {
			    var ddweczc=$("#ddwecz").val();
				if(ddweczc =='' || ddweczc == null){
					$("#dsj_dd").click();
					return false;
				}
			}
			
	        var tutle_n=$("#u_name").val();
			if(tutle_n =='' || tutle_n == null){
				$("#u_name").focus().addClass("tips");
				return false;
			}
			var tel =$("#u_phone").val();
        	var mobile = /^0{0,1}(14[0-9]|17[0-9]|13[0-9]|15[0-9]|18[0-9]|14[0-9])[0-9]{8}$/;
			
			//if(tutle_n.value==''){ alert("请填写您的姓名！"); tutle_n.focus(); return false; }
			if(!mobile.test(tel)){
				$("#u_phone").val('');
				$("#u_phone").attr("placeholder", "请输入正确的手机号码");
				$("#u_phone").one("blur", function(){
					$("#u_phone").attr("placeholder", "请输入能联系到您的手机号");
				});
				$("#u_phone").focus().addClass("tips");
				return false;
			}
			var cityId=$("#dsj").find("em").text();
			if(cityId == '请选择上门时间范围') {
				$("#dsj").click();
				return false;
			}
			
			var xzdmc=$("#xzdm").text();
			if(xzdmc == '选择店面') {
				$("#dsj_dd").click();
				return false;
			}
			
			
			
			var yjwx=$("#shill").val();
			if(yjwx == '收件人所在的省市区县(回寄)') {
				$("#shill").click();
				return false;
			}
			 
			if ( $("#address").length > 0 ) {
			    var addre=$("#address").val();
				if(addre =='' || addre == null){
					$("#address").focus().addClass("tips");
					return false;
				}
			}	
			
			var xzdmcss=$("#chru").text();
			if(xzdmcss == '请选择维修服务区') {
				$("#chru").click();
				return false;
			}
			
			if(!$("#tongy").attr('checked')){
				$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
				$(window.document.body).append('<div class="f_bz"><div style="text-align: center;" class="f_bz_top">请同意维百士服务条款</div><ul><li data="no确定" id="qberc">确定</li></ul></div><div class="Maskc3" style="display:block"></div>'); 
				$("#qberc").click(function(){
					$("html,body").css({"overflow-y": "auto",'height':'auto'});
					$(".f_bz").remove();
					$(".Maskc3").remove();
				})
				return false;	
			}
			
			 if (!checkSubmitFlg) {
			       checkSubmitFlg = true;
				   $(window.document.body).append('<div style="z-index:38052;" class="jztp"><img src="__PUBLIC__/img/jz.gif"/></div><div class="Maskc1" style="display:block; z-index: 21111;"></div>');
				   $("html,body").height($(window).height()).css({"overflow-y": "hidden"});
			       return true;
			   }else{
			       alert("抱歉不能反复提交");
			       return false;
			   }
			
			//return true;
		}
		
		
		$(function(){
			
			$("#tjq_zy").click(function(){
				if($(this).hasClass('tjq_zy1')){
					$(this).removeClass('tjq_zy1')
					$("#tongy").attr("checked",true);
				}else{
					$(this).addClass('tjq_zy1');
					$("#tongy").attr("checked",false);
				}
			})
			
			$("input,textarea,#address,#ditu1,#dianhua").focus(function(){
				$(".cldrt_1").css({'position':'static'});
				$("#wos_86").css({'padding-bottom':'0'})
			});
			$("input,textarea,#address,#ditu1,#dianhua").blur(function(){
				$(".cldrt_1").css({'position':'fixed'});
				$("#wos_86").css({'padding-bottom':'86px'})
			});
			
			function tanchang(imgc){
				$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
				$("#dest_y").remove();
	        	$(".Maskc1").remove();
				$(window.document.body).append('<div class="tc_dizhi dfgh" id="dest_y" style="display:block"><div class="tc_dizhi_top"><span></span><h1 id="dat_sj">服务流程</h1></div><ul class="on" id="li_box_dds"></ul></div><div class="Maskc1" style="display:block"></div>');
				$("#li_box_dds").append(imgc)
				console.log(imgc);	
				$(".tc_dizhi span").click(function(){
					$("#dest_y,.Maskc1").hide();
					$("html,body").css({"overflow-y": "auto",'height':'auto'});
						  
				})
			}
			
			$("#shangm_1").click(function(){
				tanchang('<img src="__PUBLIC__/img/c_3.png">')
			})
			$("#shangm_2").click(function(){
				tanchang('<img src="__PUBLIC__/img/c_2.png">')
			})
			$("#shangm_3").click(function(){
				tanchang('<img src="__PUBLIC__/img/c_1.png">')
			});
			
			
			
			
		})
	</script>
	<form action="__CONTROLLER__/add_order.html/" method="post" onSubmit="return Checked();" id="form2" name="form2">
		<div class="form">
            <!--<foreach name='youjia' item='j'>	
			{$j.jxzx_name} <br />
			{$j.jxzx_n} <br />
			{$j.jxzx_phone} <br />
			{$j.jxzx_username} <br />
		    </foreach>
		<foreach name='daodiana' item='jj'>
			{$jj.wxzx_name} <br />
			{$jj.wxzx_n} <br />
			{$jj.wxzx_phone} <br />
			{$jj.wxzx_time} <br />
		</foreach>-->
            <div class="row" id="name_4">
			    <label class="bqf">姓名：</label><div class="rootu"><input type="text" class="txt" name="u_name" id="u_name" placeholder="请输入姓名" autocomplete="off"/></div>
			</div>
			<div class="row">
				<label class="bqf">手机：</label><div class="rootu"><input type="tel" class="txt" name="u_phone" id="u_phone" placeholder="请输入手机号码" autocomplete="off"/></div>
			</div>
            
			
           
            
            <div id='ff'>
             
		    </div>
			
            
            
            <div class="row">
				<label class="bqf">优惠：</label><div class="rootu"><input type="tel" class="txt" name="youhui" id="youhui" placeholder="优惠码-选填" autocomplete="off"/></div>
			</div>
            
            
            <div class="row row_1">
				<label class="bqf bqf_1" id="bz">备注:</label>
				<textarea class="textarea" name="u_note" id="u_note" placeholder="您还有其他要求吗？(非必填)"></textarea>
			</div>
				<input type="hidden" name="model_id" value='{$model_id}'>
				<input type="hidden" name="plan_id" value='{$plan_id}'>
				<input type="hidden" name="question_id" value='{$question_id}'>
				<input type="hidden" name="color_id" value='{$color_id}'>
				<input type="hidden" name="amountd" id="amountd" value='{$money}'>
				<input type="hidden" name="color_name" value='{$color_name}'>
				<input type="hidden" name="u_title" value='维修:{$model_name}'>
            <div class="wxnr">维修内容</div>
            <div class="kuangx">
                <div class="kuangx1">
			<div class="row" style=" height:auto; line-height:35px; padding:6px 0; font-size:16px; color:#ff7e00;">
				机型：{$model_name}({$color_name})<br/>
                	
			</div>

                    <div class="hdgs">问题：{$question_name}</div>
                <foreach name='arr3' item='kk'>
                  
                  <div class="row duan_c" style="  line-height:35px; padding:6px 0; height:auto">
                  
                    <div class="lanscd">
                        维修方案：{$kk.plan_name}
                        <b class="bbupok_a"><span class="mmbuggt">{$kk.money}</span><span class="e_vcr">元</span></b>
                    </div>
                    维修时间：<b class="e_vce e_vcefop">{$kk.m_time}</b> <span class="e_vcr">分钟</span><br/>
                    维修说明：<b class="e_vce">{$kk.instructions_name}</b> 
                  </div>
                </foreach>
                
                
                </div>
             </div>
             <div class="row" style=" margin-bottom:12px;">
				 <label class="bqf">预约师傅：</label><div class="rootu"><input type="tel" class="txt" name="dianhua" id="dianhua" placeholder="您需要找的工程师手机号码-选填" autocomplete="off"/></div>
			 </div>
			
                <div class="cldrt_1">
                      <div class="grent_1">
                        <span id="tjq_zy" class="tjq_zy"></span>
                        <input type="checkbox" name="tongy" id="tongy" checked="checked"/>
                        我已阅读并同意此条款<a href="javascript:void(0);" onClick="tiaok()">《维百士服务条款》</a>
                  </div>
                      <div class="clearfix ws_box">
                          <div class="total ws_l sxgg">合计总价：<span class="cdret_1">{$money}</span><i>.00 元</i><p>维修成功后付款</p></div>  
                          <div class="next_step ws_r sxgg">
                              <label></label>
                              <button type="submit" class="bt-save">提交</button>
                          </div>
                      </div>
                 </div>
            </div>
		</form>
	</div>
</div>
</div>
 <div class="Maskc1"></div>
</body>
</html>

<script type="text/javascript">
/*document.onkeydown=function(event){
	var e = event || window.event || arguments.callee.caller.arguments[0];
	if(e && e.keyCode==27){ // 按 Esc 
		alert('要做的事情1')//要做的事情
	  }
	if(e && e.keyCode==113){ // 按 F2 
		 alert('要做的事情2')//要做的事情
	   }            
	 if(e && e.keyCode==13){ // enter 键
		 alert('要做的事情3')//要做的事情
	}
}; */

    function tiaok(){
		$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
		$(window.document.body).append('<div class="f_bz f_bz_2" id="tiaokuan_1"></div><div class="Maskc3" style="display:block"></div>'); 
		$.ajax({
			url: "__CONTROLLER__/clause",
			//data:{'model_id':id},
			dataType: "html",
			type:'get',
			success: function (data) {
			    $("#tiaokuan_1").html( data);
				$("#tk_gb_1").click(function(){
					$(".Maskc3").remove();
					$("#tiaokuan_1").remove();
					$("html,body").css({"overflow-y": "auto",'height':'auto'});
				})
			}
		});
	}


    
	if($("#weik").text()==''){
		ass(3);
		$(".wx_tab>a").eq(1).find("span").addClass('on');
		$(".wx_tab>a").eq(1).siblings().find("span").removeClass('on');
		$(".wx_tab>a").eq(1).addClass('on');
		$(".wx_tab>a").eq(0).removeClass('on');
		$(".wx_tab>a").eq(1).find("p").addClass('on');
		$("#weik1").text("上门维修")
	}else{
        ass2(1)
	}
//ass2(1)

    
	//var jsks=document.getElementById("tc_dizhi");
	
	function ggghj(){
	    document.getElementById('tc_dizhi').style.display='block';
		$(this).val("")
	}
	
	
	

	


	function ass(ways_id){
		$(".Maskc2").remove();
		$("#fwq").remove();
		$("#ddwecz").remove();
		$("#yjwecz").remove();
		$("#my_qz").remove();
		$("#u_name").attr("placeholder", "收件人的真实姓名(回寄)");
		$("#u_phone").attr("placeholder", "收件人的手机号码(回寄)");
		//alert(ways_id);
		
		$.ajax({
			url: "__CONTROLLER__/sheng_1",
			//data:{'id':id},
			dataType: "html",
			type:'get',
			success: function (data) {
			    $("#ff").html(data);
				$(".Maskc").remove();
				$("#fwq").remove();
					$("#dsj_dd").remove();
					$("#idtu").remove();
					$("#idtu1").remove();
					$("#name_4").before('<input id="yjwecz" type="hidden" name="jxzx_id"><div class="row yjsb" style="height:auto" id="fwq"><b></b><span>选择您要邮寄的维修中心</span></div>')
				$("#fwq").click(function(){
					$('.Maskc1').bind( "touchmove", function (e) {
						e.preventDefault();
					});
					$(".dfgh").remove();
					$(".Maskc1").remove();
					/*$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
					$(window.document.body).append('<div class="tc_dizhi dfgh" id="dest_y" style="display:block"><div class="tc_dizhi_top"><span></span><h1 id="dat_sj">请选择</h1></div><ul class="on" id="li_box_dds"></ul></div><div class="Maskc1" style="display:block"></div>');
					$("#li_box_dds").append("<li>北京总部</li>");*/
					
					$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
					$(window.document.body).append('<div class="tc_dizhi dfgh" id="dest_y" style="display:block"><div class="tc_dizhi_top"><span></span><h1 id="dat_sj">请选择</h1></div><ul class="on" id="li_box_dds"></ul></div><div class="Maskc1" style="display:block"></div>');
					/*$("#li_box_dds").append("<li>北京总部</li>");*/
					$("#li_box_dds").append('<foreach name="youjia" item="j"><li id="{$j.jxzx_id}" class="cder"><i class="mm"></i><em class="ii"></em><p class="bz_1">{$j.jxzx_name}</p><p>邮寄地址：{$j.jxzx_n}</p><p>收件人：{$j.jxzx_username} 手机：{$j.jxzx_phone}</p></li></foreach>');
								
					
					$(".tc_dizhi>ul li").click(function(){
						//$(this).addClass('on').siblings().removeClass('on');
					    var th_cc=$(this).find('.bz_1').html();
						var th_cc1=('<li class="cder onn on1">'+(th_cc)+'</li>');
						console.log(th_cc);
						 $("#li_box3,#dest_y,.Maskc1").hide();
						 $("#fwq").html('<b class="on"></b><span class="on">'+(th_cc)+'</span>').addClass('yjsb1');
						 $("#yjwecz").val($(this).attr('id'));
						 
					     $("html,body").css({"overflow-y": "auto",'height':'auto'});
						})
						
						$("#dest_y span").click(function(){
							$("#dest_y,.Maskc1").hide();
							$("html,body").css({"overflow-y": "auto",'height':'auto'});			  
						})
				});
			}
		});	
	}
	
	var hjghs=document.getElementById("cxjz");
	
	

   function cxjz(ways_id){
	    $(".tc_dizhi").remove();
	    $("#xxdz").remove();
		$(".Maskc1").remove();
	   
	   /* $("body").ajaxStart(function(){ 
			$(this).append('<div class="jztp"><img src="__PUBLIC__/img/jz.GIF"/></div>');
			$(".Maskc1").show();
			$("#list>ul").remove();
		});
		$("body").ajaxStop(function(){
			$(".jztp").remove();
			//$(".Maskc1").hide();
		});*/
		
		var $this = $(this);
		$.ajax({
			url: "__CONTROLLER__/youji",
			data:{'id':ways_id},
			dataType: "html",
			type:'get',
			success: function (data) {
				//$this.attr("disabled", "true");
			//$(".models>.models_lis>ul").html( data);
			$(window.document.body).append('<div class="Maskc1" style="display:block"></div>')
			$(window.document.body).append(data)
			$('.Maskc1').bind( "touchmove", function (e) {
				e.preventDefault();
			});
					$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
	          
				$(".tc_dizhi span").click(function(){
		            $(".Maskc1").css({'display':'none'});
		            $(".tc_dizhi").css({'display':'none'});
					$("html,body").css({"overflow-y": "auto",'height':'auto'});
	            })
				
			}
		});	
	   
	   
	 
   
   }
	
	
	
/*	function klj(){
		$.ajax({
			url: "__CONTROLLER__/youji",
			//data:{'id':id},
			dataType: "html",
			type:'get',
			success: function (data) {
			    $("#ff").html(data);	
			}
		});	
	}*/
	
	
	
	
	function ass1(ways_id){
		$(".Maskc2").remove();
		$("#fwq").remove();
		$("#ddwecz").remove();
		$("#yjwecz").remove();
		$("#u_name").attr("placeholder", "我们怎么称呼您");
		$("#u_phone").attr("placeholder", "能联系到您的手机号码");
		//alert(ways_id);
		$.ajax({
			url: "__CONTROLLER__/daodian",
			//data:{'id':id},
			dataType: "html",
			type:'get',
			success: function (data) {
			    $("#ff").html(data);
				$("#fwq").remove();
					$("#dsj_dd").remove();
					$("#idtu").remove();
					$("#idtu1").remove();
					$("#my_qz").remove();
					$("#name_4").before('<input id="ddwecz" type="hidden" name="wxzx_id"><div yuc_dr><a id="my_qz" href="http://m.amap.com/navi/?start=&dest=116.314315,39.982103&destName=北京中关村店&key=94ca4100199c2f2a8f33300cece2eba2"></a><div class="row yjsb" id="dsj_dd" style="height:auto;"><b class="onn"></b><span>选择您要去的维修中心</span></div></div>')	
					$("#dsj_dd").click(function(){
					    
					$(".dfgh").remove();
					$(".Maskc1").remove();
					$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
					$(window.document.body).append('<div class="tc_dizhi dfgh" id="dest_y" style="display:block"><div class="tc_dizhi_top"><span></span><h1 id="dat_sj">请选择</h1></div><ul class="on" id="li_box_dds"></ul></div><div class="Maskc1" style="display:block"></div>');
					$("#li_box_dds").append('<foreach name="daodiana" item="jj"><li id="{$jj.wxzx_id}" class="cder"><i class="mm"></i><em class="ii ii_1"></em><p class="ddhs">{$jj.wxzx_name}</p><p>店铺地址：{$jj.wxzx_n}</p><p>店铺电话：{$jj.wxzx_phone}</p><p>营业时间：{$jj.wxzx_time}</p></li></foreach>');
					
						
						$(".tc_dizhi>ul li").click(function(){
						//$(this).addClass('on').siblings().removeClass('on');
					    var th_cc=$(this).find('.ddhs').html();
						var th_cc1=('<li class="cder onn on1">'+(th_cc)+'</li>');
						console.log(th_cc);
						 $("#li_box3,#dest_y,.Maskc1").hide();
						 $("#dsj_dd").html('<div class="elect"><div class="election_l"><b class="oncc"></b><span class="on">'+(th_cc)+'</span></div><div class="election_r"><a href="http://m.amap.com/navi/?start=&dest=116.314315,39.982103&destName=北京中关村店&key=94ca4100199c2f2a8f33300cece2eba2"><b class="nus"></b>查看路线</a></div></div>').addClass('yjsb1');
						 $("#my_qz").addClass('my_qz');
						 $("#ddwecz").val($(this).attr('id'))
					     $("html,body").css({"overflow-y": "auto",'height':'auto'});
						})
						
						$("#dest_y span").click(function(){
							$("#dest_y,.Maskc1").hide();
							$("html,body").css({"overflow-y": "auto",'height':'auto'});			  
						})
				    });
			}
			        
		});
		
	}
	
	
	
	
	
	
	function ass2(ways_id){
		$(".Maskc2").remove();
		$("#my_qz").remove();
		if($("#weik").text()==''){
			$(".Maskc1").remove();
			$("html,body").height($(window).height()).css({"overflow-y": "hidden"});			
			$(window.document.body).append('<div class="f_bz"><div class="f_bz_top">抱歉，您的问题不支持上门服务，请选择其他方式维修</div><ul><li><a href="tel:400-9911-906">马上咨询</a></li><li id="ery" ><a href="javascript:void(0);" >暂不咨询</a></li></ul></div><div class="Maskc2" style="display:block"></div>');
			$("#ery").click(function(){
				$(".f_bz").remove();
				$("html,body").css({"overflow-y": "auto",'height':'auto'});
				$(".Maskc2").css({"top": "162px"});
			})
		}
		
		
		
		$("#fwq").remove();
		$("#ddwecz").remove();
		$("#yjwecz").remove();
		$("#u_name").attr("placeholder", "我们怎么称呼您");
		$("#u_phone").attr("placeholder", "能联系到您的手机号码");
		//alert(ways_id);
		$.ajax({
			url: "__CONTROLLER__/shangmen",
			//data:{'id':id},
			dataType: "html",
			type:'get',
			success: function (data) {
			    $("#ff").html(data);
			    $("#fwq").remove();
					$("#dsj_dd").remove();
					$("#idtu").remove();
					$("#idtu1").remove();
					$("#wsdt_box").remove();
					$("#name_4").before('<div class="row" id="idtu"><i class="addr_ass" style=" z-index:10; "></i><input id="fanwei" type="hidden" name="fanwei"/><input id="smwx_id" type="hidden" name="smwx_id"/><input id="fanweia" type="hidden" name="fanweia"/><input id="dasj" type="hidden" name="dasj"><input id="dasjc" type="hidden" name="dasjc"><label class="bqf">上门地址：</label><div class="rootu rootu_cv"><input readonly="true " type="text" class="txt shengle" name="shill" id="ditu" placeholder="选择如小区/大厦/学校 " autocomplete="off"><i class="ddttb"></i></div></div><div class="row" id="idtu1"><label class="bqf">详细地址：</label><div class="rootu"><input type="text" class="txt" name="address" id="ditu1"  onfocus="NEW_L()" onblur="NEW_c()" placeholder="例16号楼402室" autocomplete="off"></div></div><div id="wsdt_box"></div>')
				    
					
					
					
				//触发地图事件
				$("#ditu").click(function(){
					 $("html,body").height($(window).height()).css({"overflow-y": "hidden"});
					 $(".amap-sug-result").remove();
				    
					$.ajax({
						url: "__CONTROLLER__/locaddr",
						data:{id:'id'},
						dataType: "html",
						type:'get',
						success: function (data) {
							
							//$this.attr("disabled", "true");
						    $("#wsdt_box").html(data);
							
							//var buhygf;
							//console.log(1)
							
							
							var fanwei_ln=$("#fanwei").val();
							var fanwei_ln_fg= fanwei_ln.split(",");
							var fanwei_ln_sp=[parseFloat(fanwei_ln_fg[1]),parseFloat(fanwei_ln_fg[2])];
							var map, geolocation;
							
							
							/*if ($("#fanwei").val()=='' ){
								//var ercijd=fanwei_ln_sp;
							}else{
								//knb_sw(false);
								var ercijd=fanwei_ln_sp;
							}*/
							
							if ($("#fanwei").val()=='' ){
								fanwei_ln_sp=map
							}else{
								//knb_sw(false);
							}
							
							
							//加载地图，调用浏览器定位服务
							
							
							map = new AMap.Map('container', {
							    center: fanwei_ln_sp,
								resizeEnable: true,
                                zoom:16,
							});
							
							
							
							map.plugin(["AMap.Scale"],function(){                         //加载插件
								var scale = new AMap.Scale();                             //new对象
								map.addControl(scale);                                    //插入对象
							});
							//加载插件
							
							//写字楼撒选
							$(".sxpd ul li").click(function(){
								$(this).addClass('onx').siblings().removeClass('onx');
							});
							$("#pdsa").click(function(){
								fzzbjs()
							});
							$("#pdsa1").click(function(){
								fzzbjs("写字楼")
							});
							$("#pdsa2").click(function(){
								fzzbjs("小区")
							});
							$("#pdsa3").click(function(){
								fzzbjs("学校")
							});
							//写字楼撒选
							
							
							map.setZoom(16);
							
							
							var items=[];
							var idd=[];
							var lng=[];
							var lat=[];
							var wdzs=[]
							
							//console.log(map.getCenter())      //打印中心点
							
							
						
							
														
							//输入检索
							var windowsArr = [];
							var marker = [];
							AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch'],function(){
							  var autoOptions = {
								city: "北京", //城市，默认全国
								input: "keyword",//使用联想输入的input的id
								citylimit :true,
								datatype :'poi',
								//type:'050000'
								//count: 20
							  };
							  
							  autocomplete= new AMap.Autocomplete(autoOptions);
							  var placeSearch = new AMap.PlaceSearch({
									city:'北京',
									map:map,
									pageSize:1
									//pageSize:30
							  })
							  
							  AMap.event.addListener(autocomplete, "select", function(e){
								  if (e.poi.location==''){
								      map.setZoom(17);
									  placeSearch.search(e.poi.name);
									  console.log(placeSearch)
									  //placeSearch.hide();
									  map.setCenter(e.poi.location);
									  //console.log(mk.getPosition());
									  fzzbjs()
									  $("#pdsa").click();
									  placeSearch.mk.hide();
								  }else{
									  var xiddu=e.poi.address;
									  var kkopuy=e.poi.name
									  var nnkkbbu=e.poi.location.lat;
									  var nnkkbbr=e.poi.location.lng;
									  var ppoid=e.poi.id;
									  $("#wsdt_box").remove();
									  $("#fanwei").val(ppoid+','+nnkkbbr+','+nnkkbbu);
									  $("#name_4").before('<div id="wsdt_box"></div>');
									  $("#ditu").val(kkopuy);
									  var buyytp=$("#fanwei").val()
									  var mubtbbn= buyytp.split(",");
									  $("html,body").css({"overflow-y": "auto",'height':'auto'});
									  var mubtbbn1=mubtbbn[1]
									  var mubtbbn2=mubtbbn[2]
									  
									  var qjbldc1=[mubtbbn1,mubtbbn2];
							    	  chuanbu(qjbldc1);
								  }
							  });
							  
							});
							//输入检索
							
							
							
							
							
							//封装周边检索
							function fzzbjs(jsbc){
							    items.length = 0;
								idd.length = 0;
							    lng.length = 0;
							    lat.length = 0;
								wdzs.length = 0;
							    //$("#item_list").remove();
								//$("#show").append('<div id="item_list"></div>')
								//alert(1)
								//$(".mar_top15").remove();
								$("#item_list").empty();
								//mk.setPosition(map.getCenter());        //设置点标记位置
								
								map.plugin(['AMap.PlaceSearch'], function (){
								var pl = new AMap.PlaceSearch({
									    extensions:'all',
										type:jsbc,
										pageSize:40
									});
									pl.searchNearBy('',map.getCenter(),1000);
									//pl.setPageIndex(20)
									//pl.search('香山')
									AMap.event.addListener(pl,'complete',function(e){                
										//console.log(e);
										
										var pois=e.poiList.pois;
										var n=pois.length>25?25:pois.length;
										for(var i=0;i<n;i++){
											items.push(pois[i]['name']);
											wdzs.push(pois[i]['address'])
											idd.push(pois[i]['id']);
											lng.push(pois[i].location.lng);
											lat.push(pois[i].location.lat);
										}
											//console.log(items);
											new Render(items).showUI();
						
									})
								});
								
								var Render=function(items){
									this.items=items;                                //获取的数组
									this.idd=idd; 
									this.lng=lng; 
									this.lat=lat; 
									this.wdzs=wdzs; 
									this.list=document.getElementById('item_list');   //父容器
								};
								
								
								Render.prototype={
									
									_addItem:function(data,i){
										//console.log(this.idd[i]);
										
										var el=document.createElement('div');
										var esl=document.createElement('span');
										
										el.className='mar_top15 item_'+i;
										el.innerHTML=data;
										el.setAttribute("data-ID",this.idd[i]);
										el.setAttribute("data-lng",this.lng[i]);
										el.setAttribute("data-lat",this.lat[i]);
										esl.innerHTML=this.wdzs[i];
										
										
										//this.list.innerHTML=el;
										//document.getElementById("item_list").innerHTML=el;
										//$(".mar_top15").remove();
										
										this.list.appendChild(el);
										el.appendChild(esl);
										},
										showUI:function(items){
											for(var i=0,n=(this.items.length>25?25:this.items.length);i<n;i++){
												this._addItem(this.items[i],i+0);
												}
												//点击准确位置返回input
											 $("#item_list>div").click(function(event){
												 
												  var wsiid=$(this).attr('data-ID');
												  var wsjd=$(this).attr('data-lng');
												  var wswd=$(this).attr('data-lat');
												  var qqddz=$(this).html();
												  var wksqg= qqddz.split("<");
												  $("#ditu").val(wksqg[0]);
												  //alert($(this).text())
												  $("#ditu").attr("data-ID",wsiid);
												  $("#ditu").attr("data-lng",wsjd);
												  $("#ditu").attr("data-lat",wswd);
												  $("#wsdt_box").remove();
												  $("#fanwei").val(wsiid+','+wsjd+','+wswd);
												  $("#name_4").before('<div id="wsdt_box"></div>');
												  event.stopPropagation();
												  $("html,body").css({"overflow-y": "auto",'height':'auto'});
												  buttvg=[wsjd,wswd]
												  chuanbu(buttvg);
												  
											  })
											  //点击准确位置返回input
									  		  //cscg();
											  
											 
											}
										};
							}
							//封装周边检索
							
							
							
							//监听拖拽事件
							AMap.event.addListener(map,'dragend',function(){                
							    
								//fzzbjs()
								$("#pdsa").click();
								//$("#fanwei").val('')
								
							});
							//监听拖拽事件
							
							                 
							
										
										
										
							
							
							
							function knb_sw(vgf){
								map.setZoom(16);
								map.plugin('AMap.Geolocation', function() {
									
									geolocation = new AMap.Geolocation({
										enableHighAccuracy: true,//是否使用高精度定位，默认:true
										timeout: 10000,          //超过10秒后停止定位，默认：无穷大
										maximumAge: 0,           //定位结果缓存0毫秒，默认：0
										convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
										showButton: true,        //显示定位按钮，默认：true
										buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
										buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
										showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
										showCircle: false,        //定位成功后用圆圈表示定位精度范围，默认：true
										panToLocation: vgf,     //定位成功后将定位到的位置作为地图中心点，默认：true
										zoomToAccuracy:true,     //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
										
									});
										
									map.addControl(geolocation);
									geolocation.getCurrentPosition();
									AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
									AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
									
								});
								
								$(".amap-geo").click(function(){
									$(this).css({'background-position':'9px -224px'})
								})
								
								//解析定位结果
								function onComplete(data) {
									var str=['定位成功'];
									str.push('经度：' + data.position.getLng());
									str.push('纬度：' + data.position.getLat());
									str.push('精度：' + data.accuracy + ' 米');
									str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
									//document.getElementById('tip').innerHTML = str.join('<br>');
									
									map.setZoom(16);                  //设置地图缩放比
									$('.amap-geo').css({'background-position':'9px -183px'})
									//fzzbjs()
									$("#pdsa").click();
								}
								
								//解析定位错误信息
								function onError(data) {
									//document.getElementById('tip').innerHTML = '定位失败';
								}
								
						    }
							
							if ($("#fanwei").val()=='' ){
								knb_sw(true)
							}else{
								knb_sw(false);
							}
							$(".amap-geo").click(function(){
								knb_sw(true)
								//hjk_lp=true;
							})
							
							
							
							
							

							
							
							
							//输入时触发的事件
							$("#keyword").focus(function(){
								$(".amap-sug-result").css({
									'display':'block',
									'visibility':'visible',
									'left:':'11px',
									'top':'42px',
									'min-width':'1865px',
									}).hide();
								//console.log(ddl)
								$('#tip>span').animate({'left':'-70px'},200);
								$('.gjz').animate({'padding-left':'12px','padding-right':'45px'},200);
								$('.gjz>i').animate({'left':'12px'},200);
								$('#tip>em').animate({'right':'0px'},200);
								
								//$(".amap-sug-result").css({'display':'block'})
								//$(".amap-sug-result").css({'visibility':'visible'})
							})
							//输入时触发的事件
							
							//输入时回车的事件
							$('#keyword').keydown(function(e){
								$(".talk_xz").remove();
								if(e.keyCode==13){
									
									$(window.document.body).append('<div class="talk_xz">请从下列地址中选择</div>')
									$(".talk_xz").animate({"opacity":"0"},2000)
									alert('请从下列地址中选择')
								}
							}) 
							//输入时回车的事件
							
							//取消事件
							$("#tip>em").click(function(){
								$('#tip>span').animate({'left':'0px'},200);
								$('.gjz').animate({'padding-left':'65px','padding-right':'12px'},200);
								$('.gjz>i').animate({'left':'68px'},200);
								$('#tip>em').animate({'right':'-40px'},200);
								$("#keyword").val('');
							})
							//取消事件
							//返回上一步
							$("#tip>span").click(function(){
								$("#container,#show,#tip").hide();
								$("html,body").css({"overflow-y": "auto",'height':'auto'});
							})
							//返回上一步
							
							
							
		  
							//多边形
							
							
							    //判断区域函数
								function pdqy(){
									var lnglats=[];
									var lng_id = [];
									var buttvy=[]
									var bucss=[];
									var xlhgy={};
									$(".uu").each(function(ing,suop){
										lnglats[ing] = $(this).text().split("_");
									})
									$(".nn").each(function(ing,suop){
										lng_id[ing] = $(this).text().split(",");
										
									})
									
									for(var i=0;i<lng_id.length;i++){
										xlhgy[lng_id[i]]=lng_id[i][0]
									}
									
									for(var j=0;j<lnglats.length;j++){
										buttvy[j]=lnglats[j];
										bucss[j]=lng_id[j]
										for(var i=0;i<lnglats[j].length;i++){
											buttvy[j][i]=lnglats[j][i].split(",")
										}
									}
									
									this.chuanbh={csc:bucss,jv:buttvy}
									var chub=[];
									var chubv={};
									var chubvjw={};
									var pandbu=[];
									for(var i=0;i<this.chuanbh.csc.length;i++){
										chub[i]={svg:'cs'+this.chuanbh.csc[i],jvk:this.chuanbh.jv[i]}
									}
									for(var j=0;j<chub.length;j++){
										chubvjw[[j]]=chub[j].jvk
									}
									
									for(var j=0;j<chub.length;j++){
										
										//console.log(chubvjw[j]);
										chubv[chub[j].svg]=new AMap.Polygon({
											path:chubvjw[j],//设置多边形边界路径
											strokeColor: "#FF33FF", //线颜色
											strokeOpacity: 0.4, //线透明度
											strokeWeight: 2,    //线宽
											fillColor: "#1791fc", //填充色
											fillOpacity: 0.01//填充透明度
										});
										chubv[chub[j].svg].setMap(map);
										chubv[chub[j].svg].setExtData(this.chuanbh.csc[j][0]);
										//bupandbu=chubv[chub[j].svg].contains(buhygf)
										
									}
									//console.log(chubv.cs3.getExtData());
									return chubv;
						    	}
								//判断区域函数
							pdqy()
							var bufav;
							var cbughsd=document.getElementById("smwx_id");
							function chuanbu(buttvg){
								cbughsd.value='';
								var huahu=buttvg
								var nj=pdqy();
								var ssdcds={}
								var buinu=[];
								var bufy=[];
								var vtdr={};
								for(var j=0;j<nj.length;j++){
									buinu[j]=nj
								}
								$(".nn").each(function(ing,suop){
									bufy[ing] = $(this).text().split(",");
									
								})
								for(var i=0;i<bufy.length;i++){
									vtdr[bufy[i]]=nj['cs'+bufy[i]]//bufy[i];
									if(vtdr[bufy[i]].contains(huahu)){
										bufav=vtdr[bufy[i]].getExtData();
										cbughsd.value+=bufav+',';
										//cbughsd.value=bufav;
										console.log(bufav);
							
									}
								}
								if(bufav==null){
								    $("#ditu").val("");
									$("#ditu").removeAttr("data-lng");
									$("#ditu").removeAttr("data-lat");
									$("#ditu").removeAttr("data-ID");
									$("#fanwei").val('')
									$("#fanweia").val('')
									$("#smwx_id").val('')
									
									
									$(".Maskc1").remove();
									$("html,body").height($(window).height()).css({"overflow-y": "hidden"});
									$(window.document.body).append('<div class="f_bz"><div class="f_bz_top">您选择的区域暂未开通上门，如有需求请咨询客服</div><ul><li><a href="tel:400-9911-906">马上咨询</a></li><li id="ery" ><a href="javascript:void(0);" >暂不咨询</a></li></ul></div><div class="Maskc1" style="display:block">');
									$("#ery").click(function(){
										$(".f_bz").remove();
										$("html,body").css({"overflow-y": "auto",'height':'auto'});
										$(".Maskc1").hide();
									})
									//console.log('vvc')
							    }
								
							}
							
							
							
							
							
							/*
							//获取用户所在城市信息
							function showCityInfo() {
								//实例化城市查询类
								var citysearch = new AMap.CitySearch();
								var cityinfo;
								//自动获取用户IP，返回当前城市
								citysearch.getLocalCity(function(status, result) {
									if (status === 'complete' && result.info === 'OK') {
										if (result && result.city && result.bounds) {
											cityinfo = result.city;
											var citybounds = result.bounds;
											console.log(cityinfo);
											
											//地图显示当前城市
											map.setBounds(citybounds);
										}
									} else {
										//document.getElementById('tip').innerHTML = result.info;
									}
								});
								return cityinfo;
							}
							var hhvgf=showCityInfo()
							    //showCityInfo.prototype.hhku=vgyft;
								//console.log(hhvgf);
							*/
							
							
							
							
							
							
						}
						    
						
					});	
					
			    })
				
    //时间
	$("#dsj").click(function(){
		$(".dfgh").remove();
		$(".Maskc1").remove();
        $("html,body").height($(window).height()).css({"overflow-y": "hidden"});
		$(window.document.body).append('<div class="tc_dizhi dfgh" id="dest_y" style="display:block"><div class="tc_dizhi_top"><span></span><h1 id="dat_sj">请选择</h1></div><ul class="on" id="li_box"></ul><ul class="on" id="li_box2" style="display:none"><li class="t9">9:00</li><li class="t10">10:00</li><li class="t11">11:00</li><li class="t12">12:00</li><li class="t13">13:00</li><li class="t14">14:00</li><li class="t15">15:00</li><li class="t16">16:00</li><li class="t17">17:00</li><li class="t18">18:00</li><li class="t19">19:00</li></ul><ul style="display:none" class="on" id="li_box3"><li class="t10">10:00</li><li class="t11">11:00</li><li class="t12">12:00</li><li class="t13">13:00</li><li class="t14">14:00</li><li class="t15">15:00</li><li class="t16">16:00</li><li class="t17">17:00</li><li class="t18">18:00</li><li class="t19">19:00</li><li class="t20">20:00</li></ul></div><div class="Maskc1" style="display:block"></div>')
		//$(".Maskc1").css({'display':'block'});
		//$(".tc_dizhi").css({'display':'block'});
		//$("#slm").css({'display':'block'});
	    $('.Maskc1').bind( "touchmove", function (e) {
			e.preventDefault();
		});
	
	
	var date=new Date();
	var Week = date.getDay();  //星期
	var Hours = date.getHours();  //时
	var m = date.getMinutes();    //分
    var day = date.getFullYear()+"-"+ (date.getMonth()+1)+"-"+ date.getDate();    //年+月+日
	
	if(m<10){
            m="0" + m;
        }
        var current_time = Hours+"."+m;
        var a=0,b=7,w=1;
        if(current_time > 19){
            a=1,b=8,Week=Week+1;
        }
        for(i=a;i<b;i++){
            var dat=new Date((+date)+i*24*3600*1000);
            Week = Week+1;
            if(Week%7==0){var week = "六";}
            if(Week%7==1){var week = "日";}
            if(Week%7==2){var week = "一";}
            if(Week%7==3){var week = "二";}
            if(Week%7==4){var week = "三";}
            if(Week%7==5){var week = "四";}
            if(Week%7==6){var week = "五";}
            var dateStr = dat.getFullYear()+"-";
            if(dat.getMonth() < 9) {
                dateStr += "0";
            }
            dateStr = dateStr+(dat.getMonth()+1)+"-";
            if(dat.getDate() < 10) {
                dateStr += "0";
            }
            dateStr += dat.getDate();
            if(i==0){
                $("#li_box").append("<li date='"+dateStr+"'>"+dat.getFullYear()+"-"+ (dat.getMonth()+1)+"-"+ dat.getDate()+" 星期"+week+"  (今天)</li>");
            }else if(i==1){
                $("#li_box").append("<li date='"+dateStr+"'>"+dat.getFullYear()+"-"+ (dat.getMonth()+1)+"-"+ dat.getDate()+" 星期"+week+"  (明天)</li>");
            }else{
                $("#li_box").append("<li date='"+dateStr+"'>"+dat.getFullYear()+"-"+ (dat.getMonth()+1)+"-"+ dat.getDate()+" 星期"+week+"</li>");
            }
        }
		
		
		
		
	//$("#li_box").append('<li>'+date.getFullYear()+"-"+ (date.getMonth()+1)+"-"+ (date.getDate()+6)+''+dfs[Week-1]+'</li>');
	
	
	
	
	$("#li_box>li").click(function(){
		 var $this = $(this);
            var _theDate = $this.text();
            var _date = $this.attr("date");
            $("#dat_sj").html(_theDate);
            $("#dat_sj").attr("date", _date);
            if(_theDate.indexOf(day) >= 0 ){
                var T = Hours+1;
                if(current_time < 19){
                    $("#li_box2").find(".t"+T).prevAll("li").hide();
                }else if(current_time=19){
                    T = Hours;
                    $("#li_box2").find(".t"+T).prevAll("li").hide();
				}
            }else{
                $("#li_box2").find("li").show();
            }
			$("#li_box").css({'display':'none'});
			$("#li_box2").show(0,function(){
				$(this).find("#li_box2>li").click(function(){
				    var _beginDate = $(this).text();
					 $("#dat_sj").append('('+_theDate1+')&nbsp;至&nbsp');
					 var stime= _date+" "+$(this).text()+":00";
				})
			});
	     })
		 
		 $("#li_box2>li").click(function(){
			 var kd = Hours+1;
			 var thigg=$(this).text();
		     var qgh= thigg.split(":",1);
			 var hkl =parseInt(qgh);//当前时间+1
			 var gghk=hkl+1;//选择时间+1

						if (hkl < 19) {
							$("#li_box3").find(".t" + gghk).prevAll("li").hide();
						} else if (hkl == 19) {
							//var gghk = kd;
							//console.log(gghk);
							//alert(gghk)
							// $("#li_box3").find(".t"+hkl).prevAll("li").hide();
							$("#li_box3").find(".t" + 20).prevAll("li").hide();
							//alert(1)
						}
				
			 //alert(1)
			 $("#li_box2").hide();
			 $("#li_box3").show();
		      var $this1 = $(this);
			  var _theDate1 = $this1.text();
			  $("#dat_sj").append('('+_theDate1+')&nbsp;至&nbsp');
  
		 })
		 $("#li_box3>li").click(function(){
		     $("#li_box3,#dest_y,.Maskc1").hide();
			 var $this2 = $(this);
			 var _theDate2 = $this2.text();
			 $("#dat_sj").append('('+_theDate2+')');
			 var chuanz=$("#dat_sj").text();
			 $("#my_droce").text(chuanz).css({'color':'#3e7edb'});
			 
			 
			 
			 var wsfgf= chuanz.split("-");
			 var riqi=wsfgf[2].split(" ");
			 var riqi=wsfgf[2].split(":");
			 var riqic=riqi[0].split(" ");
			 var riqicr=riqic[0];
			 var khdy=riqi[0].split("(");
			 var lkgh=riqi[riqi.length-2].split("");
			 var cdfse = lkgh[lkgh.length-2].concat( lkgh[lkgh.length-1] );
			 
			 //console.log(wsfgf[0]);   //年
			 //console.log(wsfgf[1]);   //月
			 //console.log(riqicr);       //日
			 //console.log(khdy[khdy.length-1]);   //起时
     		 //console.log(cdfse)                  //尾时
			 
			 //var th_wd=parseFloat($(this).attr('data-lat'));
			 var nn=parseInt(wsfgf[0]);
			 var yy=parseInt('0'+wsfgf[1]-1);
			 var rr=parseInt(riqicr);
			 var ssa=parseInt(khdy[khdy.length-1]);
			 var ssb=parseInt(cdfse)
			 var sbl=00
			 
			 function kjhu(kf){
				 var ime=new Date(nn,yy,rr,kf,00,00);
				 var fhdz=(parseInt(ime.getTime()/1000));
				 return fhdz;
			     
			 }
			 var mmb=kjhu(ssa)
			 var mmbc=kjhu(ssb)
			 
			 var ime=new Date(nn,yy,rr,ssa,00,00);
			 //console.log(ime);
						 
			 //console.log(mmb);
			 //console.log(mmbc);
//			 console.log(mmbc);
			 $("#dasj").val(mmb)
			 $("#dasjc").val(mmbc)
			 
			 
			 $("html,body").css({"overflow-y": "auto",'height':'auto'});
		  })
	      $("#dest_y span").click(function(){
			  $("#dest_y,.Maskc1").hide();
			  $("html,body").css({"overflow-y": "auto",'height':'auto'});			  
		  })
	
	    })
	
				
				
				
				
          
				
					
					
			}
		});	
	}
	
	
	$("body").ajaxStart(function(){ 
			$(this).append('<div class="jztp"><img src="__PUBLIC__/img/jz.gif"/></div>');
			$(".Maskc1").show();
			$("#wos_86").hide()
			$("#slm").hide();
		});
		$("body").ajaxStop(function(){
			$(".jztp").remove();
			$("#slm").show();
			$("#wos_86").show()
			$(".Maskc1").hide();
		});
	
function ajaxsheng(sheng){
	     $(".jztp").remove();
	
	    
		
		$.ajax({
			url: "__CONTROLLER__/shi",
			data:{'id':sheng},
			dataType: "html",
			type:'get',
			success: function (data) {
				//$this.attr("disabled", "true");
			$("#slm").html( data);
			}
		});	
        $('#slm>li').click(function(){
			var sl=$(this).find("a").text();
			var sda=$(".tc_dizhi h1").text(sl);
		});
	
		/*var ways_id=document.getElementById('ways_id').value;
		//alert(ways_id)
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/shi/id/"+sheng+"/ways_id/"+ways_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('slm').innerHTML=ajax.responseText
				}
				
			}
			$("#slm>li").click(function(){
				var sl=$(this).find("a").text();
				var sda=$(".tc_dizhi h1").text(sl);
			});
			*/
		    
			
	}
	
	
	
	function ajaxshi(shi){
		$(".jztp").remove();
		/*$("body").ajaxStart(function(){ 
			$(this).append('<div class="jztp"><img src="__PUBLIC__/img/jz.GIF"/></div>');
			$(".Maskc1").show();
			$("#list>ul").remove();
			$("#slm").hide();
		});
		$("body").ajaxStop(function(){
			$(".jztp").remove();
			$("#slm").show();
			//$(".Maskc1").hide();
		});*/
		
		$.ajax({
			url: "__CONTROLLER__/qu",
			data:{'id':shi},
			dataType: "html",
			type:'get',
			success: function (data) {
				//$this.attr("disabled", "true");
			$("#slm").html( data);
			}
		});	
		$("#sqlm>li").click(function(){
			var sqlm=$(this).find("a").text()
			$(".tc_dizhi h1").append(">"+sqlm)
		});
		
		
		
		/*//document.getElementById('ss').style.display='block';
		var ways_id=document.getElementById('ways_idd').value;
		//alert(ways_id)
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/qu/id/"+shi+"/ways_id/"+ways_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('slm').innerHTML=ajax.responseText
				}
			}
			//alert(1)
			$("#sqlm>li").click(function(){
				var sqlm=$(this).find("a").text()
				$(".tc_dizhi h1").append(">"+sqlm)
			});*/
	}
	
	function ajaxqu(qu){
		$(".jztp").remove();
		/*$("body").ajaxStart(function(){ 
			$(this).append('<div class="jztp"><img src="__PUBLIC__/img/jz.GIF"/></div>');
			$(".Maskc1").show();
			$("#list>ul").remove();
			$("#slm").hide();
		});
		$("body").ajaxStop(function(){
			$(".jztp").remove();
			$("#slm").show();
			//$(".Maskc1").hide();
		});*/
		
		$.ajax({
			url: "__CONTROLLER__/dizhia",
			data:{'id':qu},
			dataType: "html",
			type:'get',
			success: function (data) {
				//$this.attr("disabled", "true");
			$("#ff").append( data);
			}
		});	
		$("#qklm>li").click(function(){
			var sqlmff=$(this).find("a").text()
			$(".tc_dizhi h1").append(">"+sqlmff);
			$(".Maskc1").css({'display':'none'});
			$(".tc_dizhi").css({'display':'none'});
			//alert($(".tc_dizhi>h1").text())
			//$(".gb_ce>input").val("");
			$("#shill").val("")//.remove();
			$("#shill").val($(".tc_dizhi h1").text()).css({'color':'#3e7edb'});
			$("html,body").css({"overflow-y": "auto",'height':'auto'});
		})
			    

		
/*		var ways_id=document.getElementById('ways_iddd').value;
		//alert(ways_id)
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/dizhia/ways_id/"+ways_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					//document.getElementById('ff').innerHTML=ajax.responseText
					$("#ff").append(ajax.responseText)
				}
				
				
				
				
			}
			    
			
			
			$("#qklm>li").click(function(){
					var sqlmff=$(this).find("a").text()
					$(".tc_dizhi h1").append(">"+sqlmff);
					$(".Maskc1").css({'display':'none'});
					$(".tc_dizhi").css({'display':'none'});
					//alert($(".tc_dizhi>h1").text())
					//$(".gb_ce>input").val("");
					$(".gb_ce>input").val("")//.remove();
					$(".gb_ce>input").val($(".tc_dizhi h1").text());
					$("html,body").css({"overflow-y": "auto",'height':'auto'});
				})*/
	}
	
	function NEW_L(){
			$(".cldrt_1").css({'position':'static'});
			$("#wos_86").css({'padding-bottom':'0'})
	}
	
	function NEW_c(){
			$(".cldrt_1").css({'position':'fixed'})
			$("#wos_86").css({'padding-bottom':'86px'})
	}
	
	
	
	
	function sma(ways_id){
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/yuyueshijian/id/"+ways_id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('sma').innerHTML=ajax.responseText
				}
	
             }


                
	}
	function shijian(sjid){
		//alert(sj);
		//var yid=document.getElementById('yid').value;
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/riqi/sjid/"+sjid,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('rq').innerHTML=ajax.responseText
				}
}
	}
	function shij(sd){
		//alert(sd)
	var sjid=document.getElementById('sjid').value;
		//ssalert(yid)
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/sja/sd/"+sd+"/sjid/"+sjid,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('xc').innerHTML=ajax.responseText
				}
}
	}
</script>
