<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<!--<select name="wxzx_id" id='wxzx_id'>
						<foreach name='arr' item='cl' >
							<option value="{$cl.wxzx_id}">
								{$cl.wxzx_name}
							</option>
						</foreach>
	</select>-->
    
    <!--<div class="row" id="dsj_dd">
        <label class="bqf">店址：</label><em id="xzdm">选择店面</em>
    </div>-->
    
    
    
					 <input type="hidden" name="ways_id" id='ways_id' value='2'> <!---->
</body>
</html>