<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>维百士|北京手机维修|手机上门维修|苹果/安卓手机维修</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。专业提供手机上门维修，苹果/安卓手机维修等，为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明。">
<meta name="Keywords" content="手机维修、北京手机维修、苹果/安卓手机维修、手机上门维修、手机维修网、三星手机维修、小米手机维修、联想手机维修">
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>

<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/index.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public_rem.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/swiper.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public_button.css" rel="stylesheet" type="text/css">

<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/js/jquery.event.drag-1.5.min.js"></script>
<script src="__PUBLIC__/js/jquery.touchSlider.js"></script>
<script src="__PUBLIC__/js/banner.js"></script>
<script src="__PUBLIC__/js/script.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>





<!--<script type="text/javascript">
if(/AppleWebKit.*mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
    if(window.location.href.indexOf("?mobile")<0){
        try{
            if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){
                window.location.href="http://weibaishi.com/Home/Index/phone";
            }else if(/iPad/i.test(navigator.userAgent)){
                window.location.href="http://weibaishi.com/Home/Index/phone";
            }else{
                window.location.href="http://weibaishi.com/Home/Index/phone"
            }
        }catch(e){}
    }
}
</script>-->
<script>
/*$(function(){
	$("#search_br").click(function(){
		window.open("http://m.weibaishi.com/search","_self")
	})
	$("#search_r").click(function(){
		window.open("http://m.weibaishi.com/orders","_self")
	})
	//下拉定位
    $(window).scroll(function(){                           //滚动时触发的函数
		var nbgdc=$('.baozhen').position().top;
		var ghgd=$(window).scrollTop()/nbgdc;
		if($(window).scrollTop()>0){
			$(".search_con_bb").hide()
			$(".search_con_cc").show()
			$(".search_con_cc").css({'background':'#3e7edb','opacity':ghgd})
			//console.log(nbgdc);
		}else{
			$(".search_con_bb").show()
			$(".search_con_cc").hide()
		}
	})
	
	
})*/
</script>
<style>

</style>
</head>
<body style="background:#f0f0f0;">
<div class="header">
    <div class="logo_top_1">
        <img src="__PUBLIC__/img/images/logo_hain_a.png" title="维百士-手机维修" alt="维百士-手机维修" />
    </div>
    <div class="main_visual">
        <img src="__PUBLIC__/img/banner/banner_a_1.png" width="100%;">
        <div class="flicking_con">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="main_image">
            <ul>
                
                <li><a href="http://m.weibaishi.com/"><img src="__PUBLIC__/img/banner/banner_a_1.png" title="维百士-手机维修" alt="维百士-手机维修" /></a></li>
                <li><a href="http://m.weibaishi.com/"><img src="__PUBLIC__/img/banner/banner_a_2.png" title="维百士-手机维修" alt="维百士-手机维修" /></a></li>
                <li><a href="http://m.weibaishi.com/"><img src="__PUBLIC__/img/banner/banner_a_3.png" title="维百士-手机维修" alt="维百士-手机维修" /></a></li>
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>
        </div>
    </div><!--效果html结束-->
    
    <div class="logo_top_2">
        <h1>快速报修</h1>
    </div>
</div><!--头-->
<div class="content_gop_a">
    
    
    
<!-- Swiper -->
    <div class="swiper-container content_gop_a_list">
        <div class="swiper-wrapper" >
            
            <div class="swiper-slide">
                <div class="content_gop_a_list content_gop_a_list_gg">
                    <ul class="pubcvt mu_uiopl">
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?1">
                                <span class="ico_xiao_9"></span>
                                <p>iPhone</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?16">
                                <span class="ico_xiao_10"></span>
                                <p>iPad</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?2">
                                <span class="ico_xiao_11"></span>
                                <p>三星</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?3">
                                <span class="ico_xiao_12"></span>
                                <p>华为</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="pubcvt mu_uiopl">
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?5">
                                <span class="ico_xiao_13"></span>
                                <p>魅族</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?4">
                                <span class="ico_xiao_14"></span>
                                <p>小米</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?11">
                                <span class="ico_xiao_15"></span>
                                <p>VIVO</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?10">
                                <span class="ico_xiao_16"></span>
                                <p>乐视</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="swiper-slide">
                <div class="content_gop_a_list content_gop_a_list_gg">
                    <ul class="pubcvt mu_uiopl">
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?15">
                                <span class="ico_xiao_1"></span>
                                <p>苹果电脑</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?9">
                                <span class="ico_xiao_2"></span>
                                <p>OPPO</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?6">
                                <span class="ico_xiao_3"></span>
                                <p>努比亚</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?12">
                                <span class="ico_xiao_4"></span>
                                <p>锤子</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="pubcvt mu_uiopl">
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?14">
                                <span class="ico_xiao_5"></span>
                                <p>一加</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?13">
                                <span class="ico_xiao_6"></span>
                                <p>美图</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?7">
                                <span class="ico_xiao_7"></span>
                                <p>索尼</p>
                            </a>
                        </li>
                        <li class="pubcvt_v">
                            <a href="http://m.weibaishi.com/phone?8">
                                <span class="ico_xiao_8"></span>
                                <p>谷歌&LG</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
    </div>
    
    <div class="content_gop_a_list content_gop_a_list_no">
        <ul class="pubcvt inu_tel">
            <li class="pubcvt_v inu_tel_l">
                <img src="__PUBLIC__/img/images/wodehju_po_gh_a_1.png" title="维百士-手机维修" alt="维百士-手机维修" />
                <a href="http://m.weibaishi.com/orders">
                    <h2><span>客服报修</span></h2>
                    <strong>
                        <div class="chuizhi_kk">
                            <span>不知道手机怎么了？<br/>简单填写，帮你搞定！</span>
                        </div>
                    </strong>
                </a>
            </li>
            <li class="pubcvt_v inu_tel_r">
            <img src="__PUBLIC__/img/images/wodehju_po_gh_a_2.png" title="维百士-手机维修" alt="维百士-手机维修" />
                <a href="tel:400-8030-603">
                    <h2><span>电话下单</span></h2>
                    <strong>
                        <div class="chuizhi_kk">
                            <span>点击拨打<br/>400-8030-603</span>
                        </div>
                    </strong>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="content_gop_a_list content_gop_a_list_no">
        <a class="guangg_a_1" href="http://m.weibaishi.com">
            <img src="__PUBLIC__/img/images/wodehju_po_gh_a_3.png" title="维百士-手机维修" alt="维百士-手机维修" />
        </a>
    </div>
    
    <div class="content_gop_a_list content_gop_a_list_lrji">
        <div class="main_imagell_box">
            <div class="main_imagell">
                <ul>
				<foreach name='arr' item='kk'>
                    <li><a class="ping_oui_op" href="__CONTROLLER__/pingjia_show">
            <div class="my_evaluate_list_top my_evaluate_list_top_2 clearfix"> 
			
                <div class="pingjir fl">
                    <!--4-->
                  
					<span class="name_mypj kehu_name">{$kk.u_name}</span>
                    <span>
                    {$kk.ways_name}
                    </span>
                    <span>{$kk.time}</span>
                </div>
                <div class="xingji fr xingjinu" data="4">
                    <span data="1" class="on"></span><span data="2" class="on"></span><span data="3" class="on"></span><span data="4" class="on"></span><span data="5" class="on"></span>
                </div>
            </div>
            <p class="pinghkun">{$kk.pingjiacontent}</p>
            <div class="hundi_li hundi_li_a1">
                 <img class="imgdds" src="__PUBLIC__/{$kk.img}" width="50" height="50" title="维百士-手机维修" alt="维百士-手机维修" />
                 <span class="gc_nazc inde_somop">工程师：</span><span class="gc_name inde_somop">{$kk.user_username}</span>  <span class="inde_somop">维修故障：{$kk.wenti}</span>
            </div>
        </a></li>
		</foreach>
            
                </ul>
            </div>
        </div>
    </div>
    
    <div class="content_gop_a_list quanzo">
        <div class="quanzo_lest">
            <ul>
                <li>
                    <a href="#">
                        <img src="__PUBLIC__/img/images/meiy_1_11.png" title="维百士-手机维修" alt="维百士-手机维修" /><span>在线定价</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="__PUBLIC__/img/images/meiy_2_11.png" title="维百士-手机维修" alt="维百士-手机维修" /><span>上门服务</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <img src="__PUBLIC__/img/images/meiy_3_11.png" title="维百士-手机维修" alt="维百士-手机维修" /><span>品质保证</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="__PUBLIC__/img/images/meiy_4_11.png" title="维百士-手机维修" alt="维百士-手机维修" /><span>售后保障</span>
                    </a>
                </li>
            </ul>
        </div>
    </div><!--chu-->
    
    
    
</div>






<div class="nav_gd">
    <ul>
        <li>
            <a class="on" href="http://m.weibaishi.com">
                <em class="ico_list1 on"></em>
                <p class="on">维修</p>
            </a>
        </li>
        <li>
            <a class="on" href="__MODULE__/Index/huishou">
                <em class="ico_list2 "></em>
                <p class="">回收</p>
            </a>
        </li>
        
        
        <li>
            <a id="tanchua" class="anniu_anjio" href="javascript:;">
                
            </a>
        </li>
        
        <li>
            <a class="on" href="http://m.weibaishi.com/inquiries">
                <em class="ico_list3 "></em>
                <p class="">订单</p>
            </a>
        </li>	
        <li>
            <a class="on" href="http://m.weibaishi.com/membercentent">
                <em class="ico_list4 "></em>
                <p class="">我的</p>
            </a>
        </li>
    </ul>
</div><!--nav固定-->

<div id="xianlop_p" class="nav_gd nav_gd_pop ">
    <i class="huanbi_p"></i>
    
</div>
<div class="kpomk_lo cdaki" id="kpomk_lo">
    <div class="tanc_top_guang">
        <img src="__PUBLIC__/img/images/ico_we_bnm/ico_we_ppo_a.png">
    </div>
    <div class="taunj_pokl">
        <div class="annmbhu">
            <ul class="pubcvt uiklng">
                <li class="pubcvt_v">
                    <a href="tel:400-9911-906">
                        <i class="ico_we_bnm1"></i>
                        <p>电话客服</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="__MODULE__/Index/yichuang">
                        <i class="ico_we_bnm2"></i>
                        <p>在线咨询</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="http://m.weibaishi.com/orders">
                        <i class="ico_we_bnm3"></i>
                        <p>客服报修</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="http://m.weibaishi.com/Home/Index/lnv_polite">
                        <i class="ico_we_bnm4"></i>
                        <p>邀请有礼</p>
                    </a>
                </li>
            </ul>

            <ul class="pubcvt uiklng">
                <li class="pubcvt_v">
                    <a href="__CONTROLLER__/pingjia_show">
                        <i class="ico_we_bnm5"></i>
                        <p>用户评价</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="http://m.weibaishi.com/process">
                        <i class="ico_we_bnm6"></i>
                        <p>维修流程</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="http://m.weibaishi.com/price">
                        <i class="ico_we_bnm7"></i>
                        <p>价目查询</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="http://m.weibaishi.com/service">
                        <i class="ico_we_bnm8"></i>
                        <p>服务范围</p>
                    </a>
                </li>
            </ul>
            
            <ul class="pubcvt uiklng">
                <li class="pubcvt_v">
                    <a href="javascript:;">
                        <i class="ico_we_bnm9"></i>
                        <p>拆修攻略</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="__CONTROLLER__/bangzhu_my">
                        <i class="ico_we_bnm10"></i>
                        <p>帮助中心</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="http://m.weibaishi.com/complaints">
                        <i class="ico_we_bnm11"></i>
                        <p>投诉反馈</p>
                    </a>
                </li>
                <li class="pubcvt_v">
                    <a href="#">
                        
                    </a>
                </li>
            </ul>
            
            
        </div>
    </div>
</div>


<script>
$(function(){
	$("#tanchua").click(function(){
		$("#xianlop_p").show().addClass('nav_gd_pop1');
		$("#kpomk_lo").show()
	})
	$("#xianlop_p").click(function(){
		$(this).hide().removeClass('nav_gd_pop1');
		$("#kpomk_lo").hide()
	});
	
	
})
/*function huspoi_fuo(){
	var lkjvv=$('.main_image li a img').height();
	$(".main_image").height(lkjvv);
}
huspoi_fuo()
window.resize(function(){             //页面调整大小
	huspoi_fuo()
})*/
</script>
<!-- Swiper JS -->
   <!-- <script src="../dist/js/swiper.min.js"></script>-->

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true
    });
    </script>
</body>
</html>








































