<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
    

</head>
<body>

						 <ul id="qklm">
						  <input type="hidden" name="ways_id" id='ways_iddd' value='{$ways_id}'>
                        <foreach  name='arr' item='ll' >
                                
                                   <li> <a href='javascript:void(0)'onclick='ajaxqu({$ll.region_id})'>{$ll.region_name}</a></li>
                                
                            </foreach>
                         </ul>
			
</body>
</html>