<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>维百士-手机维修-质保说明</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico" type="images/x-icon"/>
<link rel="icon" href="__PUBLIC__/img/ioc/16.png" type="images/png"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<link href="__PUBLIC__/styles/style.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/styles/public.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/js/script.js"></script>
</head>

<body>
<div class="header">
    <span onclick="window.history.back()"></span>
    <h1>质保说明</h1>
    
</div><!--头-->
<div class="content">
    <div class="content_con">
        <div class="llmnu">
            
            <p></p> 
            <strong></strong>
            
            <p class="no">维百士为您提供为时180天的质量保修。手机修后，如在保修期内，故障点出现故障，您可以拨打客服电话进行报修说明，维百士会为您安排工程师修好。维百士对所有维修故障点实施180天保修，但以下情况除外：</p>
            <p>1.出现维修故障点之外的故障；</p>
            <p>2.人为损坏；</p>
            <p>3.主板维修，主板进水、不开机故障保修期为3个月；</p>
        <p>4.任何情况导致的屏幕碎裂均不在保修范围之内；</p>
        <p class="zhu">注：保修仅服务于在维百士维修且维修成功的设备，我们对您手机的维修操作会影响您手机的官方原厂保修。</p>
            </div>
    </div>
</div>


</body>
</html>
