<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
					<!--<span style=''id='f'>
					<select name="sheng" id='sheng' onchange='ajaxsheng()'>
						<option value="省">
							省
						</option>
						<foreach name='arr4' item='vv' >
							<option value="{$vv.region_id}">
								{$vv.region_name}
							</option>
						</foreach>
					</select>
				</span>
				<span id='s'>		
				</span>
				<span id='ss'>		
				</span><br />
				<label>详细地址:</label>
				<span><input type="text" class="txt" name="address" id="address"/></span>
				
				<input type="hidden" name="ways_id" id='ways_id' value='1'><br /><br />-->
				<!-- <a href='javascript:void(0)'onclick='sma(2)'>预约时间：</a><br /><br/><div id='sma'></div> -->
                <!--<div class="row">
                    <label class="bqf">地 址：</label><em>地图定位</em>
                </div>-->
                <div class="row" id="dsj">
                    <i class="addr_ass"></i>
                    <label class="bqf">时间：</label><div class="rootu rootu_cv"><em id="my_droce">请选择上门时间范围</em></div>
                </div>
				<input type="hidden" name="ways_id" value='{$ways_id}'>
</html>