<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>

</head>
<body>

			



	
						
						
						<ul id="sqlm">
						 <input type="hidden" name="ways_id" id='ways_idd' value='{$ways_id}'>
                        <foreach  name='arr' item='vl' >
                                
                                    <li><a href='javascript:void(0)'onclick='ajaxshi({$vl.region_id})'>{$vl.region_name}</a></li>
                                
                            </foreach>
			            </ul>
                       
</body>
</html>