<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"> -->
<title>维百士-手机维修</title>
<meta name="description" content="维百士-专注于手机维修行业的O2O服务类平台。为您提供一键下单、网上诊断、透明报价、免费上门、免费检测、邮寄维修、免费质保等服务方案。半小时快速换屏、全程录像更安心、价格更透明，维百士官网">
<meta name="Keywords" content="维百士,苹果手机维修,iPhone维修,电脑维修,数码维修,手机上门维修">
<link rel="shortcut icon" href="__PUBLIC__/img/ioc/16.ico"><!--图标-->
<link rel="icon" href="__PUBLIC__/img/ioc/16.png"><!--图标-->
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
</head>

<body>
<a id="zhouba" href="http://m.amap.com/navi/?start=&dest=116.330369,39.908381&destName=去上门&key=94ca4100199c2f2a8f33300cece2eba2">走吧</a>
<script type="text/javascript">
var jingdu='114.683178,39.357655';
console.log(jingdu);
var str=document.getElementById("zhouba");
zhouba.setAttribute("href","http://m.amap.com/navi/?start=&dest="+jingdu+"&destName=去上门&key=94ca4100199c2f2a8f33300cece2eba2"); 
//document.write(str.replace(/Microsoft/,"W3School"))

</script>       
</body>
</html>
