<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style type="text/css">
		a{text-decoration:none;}
		#le{float:left;}
		#list{float:left;margin-left:30px;}
	</style>
</head>
<body>
	<foreach  name='arr9' item='k'>
	<a href='javascript:void(0)'onclick='j()'>{$k.brand_name}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</foreach><br /> <br /><br />
	<div id='le'>
	
	</div>
	
<form method="post" action="__MODULE__/Index/tjjj">
<input type="hidden" name="id" value='{$id}'>
<h1>配件</h1>
	<foreach name='arr' item='kk'>
		<a href='javascript:void(0)'onclick=''><h3>{$kk.cpk_name}</a>&nbsp;&nbsp;&nbsp;&nbsp;{$kk.cpp_price}元&nbsp;&nbsp;&nbsp;&nbsp;</h3>
		<foreach name="kk['data']" item='ee'>
		<!-- <input type="hidden" name="cangku_id[]" value='{$ee.cangku_id}'> -->
		<input type="checkbox" name="cangku_id[]" value='{$ee.cangku_id}'>{$ee.cangku_name}&nbsp;&nbsp;&nbsp;&nbsp; 数量({$ee.numss})&nbsp;&nbsp;&nbsp;<br />
		</foreach><br /><br />
	</foreach>
	<h1>回收:</h1>
	<foreach  name='arr11' item='k'>
	<input type="checkbox" name="cppk_id[]" value='{$k.cpk_id}'>{$k.cpk_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$k.cpk_price}元<br /> <br />
	</foreach>
	
	{$b}
	</form>

</body>
</html>
<script type="text/javascript">
	function jixing(model_id){
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/peijiana/model_id/"+model_id,true)
			//alert(model_id);/* style='display:none'*/
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('list').innerHTML=ajax.responseText
				}
			}
	}


</script>