<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<div id='xc'>
	<input type="hidden" id='sjid' value='{$sjid}'>
	<span id=''>{$dat}</span><br /><br />
	
		<a href='javascript:void(0)'onclick='shij(1)'>{$d1}</a><br /><br />
		<a href='javascript:void(0)'onclick='shij(2)'>{$d2}</a><br /><br />
		<a href='javascript:void(0)'onclick='shij(3)'>{$d3}</a><br /><br />
		<a href='javascript:void(0)'onclick='shij(4)'>{$d4}</a><br /><br />
		<a href='javascript:void(0)'onclick='shij(5)'>{$d5}</a><br /><br />
	</div>
</body>
</html>