<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<div id='rq'>
	<a href='javascript:void(0)'onclick='shijian(1)'>{$dat1}</a>
	<a href='javascript:void(0)'onclick='shijian(2)'>{$dat2}</a>
	<a href='javascript:void(0)'onclick='shijian(3)'>{$dat3}</a>
	<a href='javascript:void(0)'onclick='shijian(4)'>{$dat4}</a>
	<a href='javascript:void(0)'onclick='shijian(5)'>{$dat5}</a>
	<a href='javascript:void(0)'onclick='shijian(6)'>{$dat6}</a>
	<a href='javascript:void(0)'onclick='shijian(7)'>{$dat7}</a>
</div>	
</body>
</html>