<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body><h1>修改产品</h1>
	<form method="post" action="__CONTROLLER__/chanpinupp">
	产品名称:<input type="text" name="cpk_name" value='{$arr.cpk_name}'><br /><br />
	师傅价格:<input type="text" name="cpk_price" value='{$arr.cpk_price}'><br /><br />
	用户价格:<input type="text" name="cpp_price" value='{$arr.cpp_price}'><br /><br />
	<input type="hidden" name="model_id" value='{$model_id}'>
	<input type="hidden" name="brand_id" value='{$brand_id}'>
	<input type="hidden" name="cpk_id" value='{$arr.cpk_id}'>
	是否是回收:<input type="text" name="sf" value='{$arr.sf}'><br />(y是回收,n是卖出)<br /><br />
	<input type="submit" value='修改'>
	<input type="button" value="取消" onclick="a()">
	</form>
</body>
</html>