<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style type="text/css">
		#f{float:left; }
		#l{float:right; margin-right:20px}
	</style>
</head>
<body>
<a href="__CONTROLLER__/index">返回</a><br /><br />
	<div id='f'>
	<foreach name='arr'  item='kk'>
	{$kk.questiontype_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id="iopmg" src="__PUBLIC__/{$kk.imgg}" width=50 height=50 />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id="iopmg" src="__PUBLIC__/{$kk.imggg}" width=50 height=50 /><a href='javascript:void(0)'onclick='ass({$kk.questiontype_id})'>添加图片</a>&nbsp;&nbsp;&nbsp;修改<br /><br />
	<div id='first{$kk.questiontype_id}' >
	
	</div>
	</foreach>
	</div>
	
</body>
</html>
<script type="text/javascript">
function ass(id){
		var ajax=new XMLHttpRequest()
			ajax.open("get","__CONTROLLER__/tupian/questiontype_id/"+id,true)
			ajax.send()
			ajax.onreadystatechange=function(){
				if(ajax.readyState==4 && ajax.status==200){
					document.getElementById('first'+id).innerHTML=ajax.responseText
				}
			}
	}
</script>