<foreach name='arr' key='aa' item='kk'>
            <li class="lmbhu lmbhuopd" >
               
               <div class="listy_box">
                   <div class="listy_pk">订单号：{$aa}</div>
                   <div class="listy_pk" style="line-height:30px;">
                       <span class="fl">商品：</span>
                       <foreach name='kk' item='cc'>
                       <span class="mlobh">{$cc.cpk_name}<span class="fr">{$cc.cpk_price}元 </span></span>
                       </foreach>
                   </div>
                   <div class="listy_pk">用户：{$cc.user_username}   {$cc.user_name}<span class="fr">总价({$cc.amount})</span></div>
               </div>
               
            </li>
            </foreach>